//BUTTONS


// New set of styles based on RC UI kit
.btn {
    @include font-size(14);
    @include transition(0.3s);
    //@extend .SofiaPro-Medium;
    border-radius: 100px;
    color: $white;
    padding: 14px 26px;
    background-position: left;
    position: relative;
    text-align: left;
    cursor: pointer;

    &:hover {
        color: $white;
    }

    &.btn-grad {
        background-size: 500% 100% !important;

        &:hover {
            background-position: right !important;
        }
    }


    svg, i {
        position: absolute;
    }

    //sizes
    &.btn-xs {
        @include font-size(16);
        padding: 6px 18px;
    }

    &.btn-s {
        @include font-size(18);
        height: 45px;
        line-height: 45px;
        padding: 0 30px;
    }

    &.btn-m {
        @include font-size(22);
        padding: 10px 47px;
    }

    &.btn-l {
        @include font-size(28);
        padding: 12px 30px;
    }

    &.btn-xl {
        @include font-size(32);
        padding: 14px 34px;
    }

    //margins
    &.btn-mg-right {
        margin-right: 20px;
    }

    &.btn-mg-bottom {
        margin-bottom: 20px;
    }

    &.btn-mg-left {
        margin-left: 20px;
    }

    &.btn-mg-top {
        margin-top: 20px;
    }

    //colours
    &.btn-turq {
        @include linear-gradient(90deg, $turq, $turq, $green);

        &.btn-grad {
            @include linear-gradient(90deg, $turq, $green, $green);
        }
    }

    &.btn-darkgreen {
        @include linear-gradient(90deg, $darkGreen, $darkGreen, $green);

        &.btn-grad {
            @include linear-gradient(90deg, $darkGreen, $green, $darkGreen);
        }
    }

    &.btn-blue {
        @include linear-gradient(90deg, $blue, $blue, $turq);

        &.btn-grad {
            @include linear-gradient(90deg, $blue, $blue, $turq, $blue);
        }
    }

    &.btn-violet {
        @include linear-gradient(90deg, $violet, $violet, $blue);

        &.btn-grad {
            @include linear-gradient(90deg, $violet, $blue, $violet);
        }
    }

    &.btn-hanblue {
        @include linear-gradient(90deg, $hanblue, $hanblue, $violet);

        &.btn-grad {
            @include linear-gradient(90deg, $hanblue, $violet, $hanblue);
        }
    }

    &.btn-green {
        @include linear-gradient(90deg, $green, $green, $turq);

        &.btn-grad {
            @include linear-gradient(90deg, $green, $turq, $green);
        }
    }

    &.btn-pink {
        @include linear-gradient(90deg, $pink, $pink, $violet);

        &.btn-grad {
            @include linear-gradient(90deg, $pink, $pink, $violet, $pink);
        }
    }

    &.btn-grey {
        @include linear-gradient(90deg, $footerGrey, $footerGrey, $pink);
        //@include linear-gradient(90deg, $pink, $pink, $violet);
        &.btn-grad {
            @include linear-gradient(90deg, $footerGrey, $footerGrey, $pink, $footerGrey);
        }
    }

    &.btn-squared {
        border-radius: 10px !important;
    }

    &.btn-compare {
        //height: 32px;
        //width: 32px;
        //border-radius: 23px;
        box-shadow: inset 0px 0px 0px 2px $turq;
        color: $turq;
        //flex: 0 0 32px;
        padding: 8px 15px 8px 40px;

        svg, i {
            content: '';
            position: absolute;
            @include v-c;
            left: 8px;
            width: 18px;
            height: 16px;

            path {
                stroke: $turq;
                stroke-width: 50px;
                fill: #fff;
            }
        }

        //
        // &:after {
        //    content: '';
        //    position: absolute;
        //    @include v-c;
        //    left: 0;
        //    width: 32px;
        //    height: 32px;
        //    border-radius: 50%;
        //    background-image: url('../images/icons/heart.svg');
        //    background-position: center center;
        //    background-repeat: no-repeat;
        //    background-size: 50% !important;
        //}

        //&.selected:after {
        //    background-image: url('../images/icons/heart-selected.svg');
        //    background-color: #00cecd;
        //}

        &:hover {
            background-color: $turq;
            color: #fff;

            svg, i {

                path {
                    stroke: #fff;
                    fill: $turq;
                }
            }
        }

        &.selected {
            svg {
                path {
                    stroke: $pink;
                    fill: $pink;
                }
            }
        }
    }

    &.btn-green-plus {
        position: absolute;
        right: 10px;
        top: 90px;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        background-color: $turq;
        background-image: url('../images/icons/plus-solid.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        flex: 0 0 32px;
        padding: 0;
    }


    &.btn-black {
        @include linear-gradient(90deg, $black, $black, $pink, $pink);
        background-size: 300% !important;
    }

    &.btn-read-more {
        border-radius: 50px;
        color: #fff;
        @include font-size(22);
        //height: 46px;
        //line-height: 46px;
        background: #ed0373;
        background: linear-gradient(-90deg, $pink, $pink, #649ef7, #649ef7, $blue, $blue);
        background-size: 300% 100%;
        transition: 0.6s;
        padding: 7px 25px;
    }

    // icon buttons
    &.btn-icon {
        &:before,
        &:after {
            content: '';
            position: absolute;
            @include icon-bg-center;
        }

        &.btn-arrow-right {
            //background: #649ef7;
            //background: linear-gradient(-90deg, #649ef7, $blue, $blue, $blue);
            background-size: 200%;
            //background-position: right;
            border-radius: 100px;
            //height: 50px;
            //line-height: 50px;
            @include font-size(22);
            padding: 12px 65px 12px 30px;
            position: relative;

            //&:after {
            //    background-image: url('../images/icons/up-arrow.svg');
            //    @include icon-bg-center(30%);
            //    position: absolute;
            //    right: 0;
            //    top: 0;
            //    bottom: 0;
            //    width: 50px;
            //    height: 50px;
            //    line-height: 50px;
            //    transform: rotate(90deg);
            //}

            &:hover {
                background-position: left;
            }
        }

        &.btn-arrow-down {
            padding-right: 60px;

            i, svg {
                @include v-c;
                right: 20px;
                transition: $transition;
            }

            &.open {
                i, svg {
                    transform: translateY(-50%) rotate3d(0, 0, 1, 180deg);
                }
            }
        }

        &.btn-consultant {
            /* Style for "Consultant" */
            height: 20px;
            line-height: 20px;
            @include font-size(14);
            padding: 0 20px 0 12px;
        }

        &.btn-plus {
            &:after {
                background-image: url('../images/icons/plus-solid.svg');
                @include icon-bg-center(100%);
                @include v-c;
                right: 9px;
                width: 14px;
                height: 14px;
            }
        }

        &.btn-more-info {
            @include font-size(14);
            padding: 0 25px 0 8px;
            border-radius: 4px 4px 0 0;
            background-color: $turq;

            svg {
                @include v-c;
                right: 8px;
                width: 0.6rem;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        &.btn-close__small {
            color: $white;
            height: 20px;
            line-height: 20px;
            @include font-size(14);
            padding: 0 20px 0 12px;

            &:after {
                background-image: url('../images/icons/up-arrow.svg');
                @include icon-bg-center(30%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 20px;
                height: 20px;
                line-height: 20px;
                transform: rotate(90deg);
            }

            &:hover {
                color: $white;

            }
        }

        &.btn-go {
            color: $white;
            @include font-size(14);
            padding: 6px 30px 6px 12px;
            background: linear-gradient(90deg, #000, #000, #00bcb4, #000);
            background-size: 300% 100%;

            //&:after {
            //    background-image: url('../images/icons/up-arrow.svg');
            //    width: 11px;
            //    height: 11px;
            //    @include v-c;
            //    @include icon-bg-center(30%);
            //    right: 20px;
            //    transform: rotate(90deg);
            //}
            //

            svg {
                @include v-c;
                right: 12px;
            }

            &:hover {
                color: $white;
                background-position: 0%;
            }

            &:focus {
                animation-name: bg-reverse;
                animation-duration: 5s;
            }
        }

        &.btn-enquire,
        &.btn-enquire-private-hospital {
            //border-radius: 10px;
            color: $white !important;
            @include font-size(14);
            position: relative;
            padding: 8px 5px 8px 40px;
            display: inline-block;
            text-align: left;

            svg {
                //content: '';
                //background-image: url('../images/icons/circle-check.svg');
                //@include icon-bg-center;
                @include v-c;
                left: 8px;
                width: 20px;
                height: 20px;
            }
        }

        &.btn-enquire-private-hospital {
            /* Style for "Make an en" */
            //width: 187px;
            @include font-size(16);
            border-radius: 10px;
            text-align: center;
            padding: 15px 25px 15px 45px;

            svg {
                //content: '';
                //background-image: url('../images/icons/circle-check.svg');
                //@include icon-bg-center;
                @include v-c;
                left: 8px;
                width: 30px;
                height: 25px;
            }
        }

        input[type="submit"].btn-enquire {

        }

        &.btn-enquire-pink {
            //border-radius: 10px;
            border-radius: 20px;
            background: $white;
            color: $pink;
            @include font-size(12);
            position: relative;
            padding: 10px 10px 10px 35px;
            display: inline-block;
            text-align: left;
            width: 131px;

            &:before {
                content: '';
                background-image: url('../images/icons/circle-check-pink.svg');
                @include icon-bg-center(100%);
                @include v-c;
                left: 10px;
                width: 20px;
                height: 20px;
            }

            &:hover {
                color: $white;
                background-color: $pink;
                text-decoration: none;

                &:before {
                    background-image: url('../images/icons/circle-check.svg');

                }
            }
        }

        // Button inside special offer tabs in solutions bar
        &.btn-enquire-now {
            color: $pink;
            background-color: $white;
            padding: 7px 30px 7px 17px;
            @include font-size(14);

            &:after {
                background-image: url('../images/icons/up-arrow-pink.svg');
                @include icon-bg-center(30%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 30px;
                //height: 30px;
                line-height: 30px;
                transform: rotate(90deg);
            }

            &:hover {
                color: $white;
                background-color: $pink;

                &:after {
                    background-image: url('../images/icons/up-arrow.svg');
                }
            }
        }

        &.btn-special-offer {
            //padding: 13px 20px 13px 40px;
            padding: 8px 15px 8px 40px;
            //border-radius: 10px;
            color: $white;
            //height: 40px;
            //line-height: 13px;
            //min-width: 160px;

            svg {
                @include v-c;
                position: absolute;
                left: 8px;
                width: 20px;
                height: 20px;
            }
        }

        &.btn-special-offer-reverse {
            padding: 13px 20px;
            border-radius: 10px;
            border: 1px solid $pink;
            color: $pink;
            height: 40px;
            line-height: 13px;
            background-color: $white;
            min-width: 160px;

            &:before {
                background-image: url('../images/icons/special-pink.svg');
                @include icon-bg-center(50%);
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }

            &:after {
                background-image: url('../images/icons/plus-solid-pink.svg');
                @include icon-bg-center(30%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }

        }

        // Button on the floating green bar
    }
}

// Back to top button
.btn-back-to-top {
    padding: 16px 50px 16px 20px;
    color: $white;
    min-width: 182px;
    border-radius: 10px 10px 0 0;
    @include font-size(22);
    @include gradient-animation($turq, $turq, $turq, $green, 0.3s);

    svg {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

// Container for buttons
.btn-area {
    line-height: 1;
}

.btn-submit-results {
    @include font-size(18);
    background-size: 300% 100%;
    line-height: 20px;
    background-image: linear-gradient(270deg, #00cecd 0%, #00d7b5 56%, #00df9d 100%);

    &:hover {
        background-position: right;
    }
}


.btn-link {
    color: $darkerGrey;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $turq;
        text-decoration: none;
    }
}

.btn-cc-close {
    padding: 0 24px 0 8px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    border: none;
    border-radius: 31px;
    background-color: #000000 !important;
    z-index: 5;
    transition: $transition;
    @include font-size(14);

    @include hover {
        opacity: 1 !important;
        background-color: $turq !important;
    }

    svg {
        @include v-c;
        right: 8px;
        width: 7px;
        height: 7px;

        path {
            fill: #fff;
        }
    }
}

.btn-modal-close {
    //width: 60px;
    //height: 29px;
    padding: 6px 24px 6px 8px;
    display: inline-block;
    border: none;
    border-radius: 31px;
    background-color: #000000 !important;
    z-index: 5;
    opacity: 1;
    top: 5px;
    right: 5px;
    transition: $transition;
    @include font-size(14);

    @include media-breakpoint-up(lg) {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }

    @include hover {
        opacity: 1 !important;
        background-color: $turq !important;
    }

    span {
        background-color: inherit;
    }

    svg {
        @include v-c;
        right: 8px;
        width: 7px;
        height: 7px;

        path {
            fill: #fff;
        }
    }

}

// Modal tour carousel buttons - prev/next
.btn-tour-control {
    box-shadow: inset 0px 0px 0px 2px $turq !important;
    color: $body-color;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: $transition;
    position: relative;

    svg {
        width: 7px;
        height: 11px;

        path {
            fill: $body-color;
        }
    }

    &.prev {
        padding-left: 30px;
        padding-right: 12px;

        svg {
            left: 10px;
        }
    }

    &.next {
        padding-right: 30px;
        padding-left: 12px;

        svg {
            right: 10px;
        }
    }

    &:focus {
        box-shadow: inset 0px 0px 0px 2px $turq !important;
        color: $body-color;
    }

    &:hover {
        box-shadow: inset 0px 0px 0px 2px $turq !important;
        background-color: $turq;
        color: $white;

        svg {
            path {
                fill: $white;
            }
        }
    }
}
