//BUTTONS


// New set of styles based on RC UI kit
.btn {
    @include font-size(14);
    @include transition(0.3s);
    letter-spacing: $letter-spacing;
    border-radius: 100px;
    color: $white;
    padding: 14px 26px;
    background-position: left;
    position: relative;
    text-align: left;
    cursor: pointer;

    &:hover {
        color: $white;
    }

    svg, i {
        position: absolute;
    }

    span,
    div {
        line-height: 1.5;
        vertical-align: center;
        display: block;
        @include media-breakpoint-down(lg) {
            //display: inline-block;
            //padding-top: 1px;
        }
    }

    //colours
    // primary
    &.btn-brand-primary-1 {
        background-color: $brand-primary-1;

        &:hover {
            background-color: $blue;
        }
    }

    &.btn-brand-primary-4 {
        background-color: $brand-primary-4;

        &:hover {
            background-color: $blue;
        }
    }

    &.btn-brand-primary-7 {
        background-color: $brand-primary-7;

        &:hover {
            background-color: $blue;
        }
    }

    // secondary
    &.btn-brand-secondary-3 {
        background-color: $brand-secondary-3;

        &:hover {
            background-color: $blue;
        }
    }

    &.btn-blue {
        background-color: $blue;
        background-size: 200%;

        &:hover {
            background-color: $brand-primary-1;
        }
    }

    &.btn-violet {
        background-color: $violet;

        &:hover {
            background-color: $purple;
        }
    }

    &.btn-pink {
        background-color: $pink;

        &:hover {
            background-color: #000;
        }
    }

    &.btn-grey {
        background-color: $brand-primary-7;

        &:hover {
            background-color: $brand-primary-1;
        }
    }

    &.btn-squared {
        border-radius: $btn-border-radius;
        padding: 15px 26px;
        @include media-breakpoint-up(md) {
            padding: 20px 45px;
        }

        &_slim {
            padding: 14px 26px;
        }
    }

    &.btn-enquire-all {
        padding: 15px 15px 15px 45px;
        //max-width: 160px;

        svg {
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }

    &.btn-compare {
        box-shadow: inset 0px 0px 0px 2px $brand-primary-1;
        color: $brand-primary-1;
        padding: 8px 14px 8px 40px;

        svg, i {
            content: '';
            position: absolute;
            @include v-c;
            left: 8px;
            width: 18px;
            height: 16px;

            path {
                stroke: $brand-primary-1;
                stroke-width: 50px;
                fill: #fff;
            }
        }

        @include media-breakpoint-up(lg){
            &:hover {
                background-color: $brand-primary-7;
                color: #fff;

                svg, i {

                    path {
                        stroke: #fff;
                        fill: $brand-primary-1;
                    }
                }
            }
        }

        &.selected {
            svg {
                path {
                    stroke: $pink;
                    fill: $pink;
                }
            }
        }

        &.btn-compare-mobile {
            padding: 0 0 0 30px !important;
            top: 0;
            right: 0;

            svg {
                width: 15px;
                height: 13px;
            }
        }
    }

    &.btn-black {
        background-color: #000;

        &:hover {
            background-color: $pink;
        }
    }
}


// icon buttons
.btn-icon {
    &:before,
    &:after,
    svg {
        content: '';
        position: absolute;
        //@include v-c;
        @include icon-bg-center;
    }

    &.btn-arrow-right {
        background-size: 200%;
        border-radius: 100px;
        @include font-size(22);
        padding: 12px 65px 12px 30px;
        position: relative;

        &:hover {
            background-position: left;
        }
    }

    &.btn-arrow-down {
        padding-right: 50px;

        i, svg {
            @include v-c;
            right: 20px;
            transition: $transition;
        }

        &.open {
            i, svg {
                transform: translateY(-50%) rotate3d(0, 0, 1, 180deg);
            }
        }
    }

    &.btn-consultant {
        /* Style for "Consultant" */
        height: 20px;
        line-height: 20px;
        @include font-size(14);
        padding: 0 20px 0 12px;
    }

    &.btn-plus {
        &:after {
            background-image: url('../images/icons/plus-solid.svg');
            @include icon-bg-center(100%);
            @include v-c;
            right: 9px;
            width: 14px;
            height: 14px;
        }
    }


    &.btn-close__small {
        color: $white;
        height: 20px;
        line-height: 20px;
        @include font-size(14);
        padding: 0 20px 0 12px;

        &:after {
            background-image: url('../images/icons/up-arrow.svg');
            @include icon-bg-center(30%);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
            transform: rotate(90deg);
        }

        &:hover {
            color: $white;

        }
    }

    &.btn-go {
        color: $white;
        @include font-size(14);
        padding: 6px 30px 6px 12px;
        background: linear-gradient(90deg, #000, #000, #00bcb4, #000);
        background-size: 300% 100%;

        svg {
            @include v-c;
            right: 12px;
        }

        &:hover {
            color: $white;
            background-position: 0%;
        }

        &:focus {
            animation-name: bg-reverse;
            animation-duration: 5s;
        }
    }


    &.btn-special-offer {
        padding: 8px 15px 8px 40px;
        color: $white;

        svg {
            @include v-c;
            position: absolute;
            left: 8px;
            width: 20px;
            height: 20px;
        }

        &_mobile {
            color: $pink;
            text-decoration: none;
            padding-left: 30px;

            svg {
                //position: static !important;
                //display: inline-block;
                width: 15px;
            }
        }
    }

    &.btn-special-offer-reverse {
        padding: 13px 20px;
        border-radius: $border-radius;
        border: 1px solid $pink;
        color: $pink;
        height: 40px;
        line-height: 13px;
        background-color: $white;
        min-width: 160px;

        &:before {
            background-image: url('../images/icons/special-pink.svg');
            @include icon-bg-center(50%);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
        }

        &:after {
            background-image: url('../images/icons/plus-solid-pink.svg');
            @include icon-bg-center(30%);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
        }

    }

    // Button on the floating green bar
}

.btn-more-info {
    color: $brand-primary-1;

    &:hover {
        color: $brand-primary-7;
        opacity: 1;
    }
}

// Back to top button
.btn-back-to-top {
    color: $white;
    min-width: 182px;
    border-radius: $border-radius $border-radius 0 0;
    @include font-size(1.1rem);
    //@include gradient-animation($body-color, $body-color, $brand-primary-1, $brand-primary-1, 0.3s);
    background-color: $body-color;
    padding: 19px 50px 19px 20px;

    svg {
        @include v-c;
        right: 20px;
    }
}

.btn-link {
    color: $textGrey;
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $brand-primary-1;
        text-decoration: none;
    }
}

.btn-brand-primary-1-link {
    color: $brand-primary-1;

    &:hover,
    &:focus {
        color: $blue;
        text-decoration: underline;
    }
}

.btn-cc-close {
    padding: 0 24px 0 8px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    border: none;
    border-radius: 31px;
    background-color: #000000 !important;
    z-index: 5;
    transition: $transition;
    @include font-size(14);

    @include hover {
        opacity: 1 !important;
        background-color: $brand-primary-1 !important;
    }

    svg {
        @include v-c;
        right: 8px;
        width: 7px;
        height: 7px;

        path {
            fill: #fff;
        }
    }
}

.btn-modal-close {
    padding: 6px 24px 6px 8px;
    display: inline-block;
    border: none;
    border-radius: 31px;
    background-color: #000000 !important;
    z-index: 5;
    opacity: 1;
    top: 5px;
    right: 5px;
    transition: $transition;
    @include font-size(14);

    @include media-breakpoint-up(lg) {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }

    @include hover {
        opacity: 1 !important;
        background-color: $brand-primary-1 !important;
    }

    span {
        background-color: inherit;
    }

    svg {
        @include v-c;
        right: 8px;
        width: 7px;
        height: 7px;

        path {
            fill: #fff;
        }
    }
}

// Reset styles from standard button
.btn-plain {
    appearance: none;
    border: none;
    background-color: transparent;
}

// Modal tour carousel buttons - prev/next
.btn-tour-control {
    color: #fff;
    transition: $transition;
    position: relative;
}

// Browse more button
.btn-icon-arrow {
    svg {
        width: 16px;
        margin-left: 5px;
        margin-top: 2px;
        @extend .d-lg-none;
    }
}

.btn-enquire_mobile {
    background-color: $brand-secondary-3;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        @extend .position-static;
        width: 20px;
        height: 20px;

        @extend .mr-1;
    }

    @include hover-focus(){
        background-color: $brand-primary-7;
    }
}

.btn-enquire {
    color: $white !important;
    @include font-size(14);
    position: relative;
    padding: 8px 5px 8px 40px;
    display: inline-block;
    text-align: left;

    &:hover {
        background-color: $brand-primary-7;
    }

    svg {
        @include v-c;
        left: 8px;
        width: 20px;
        height: 20px;
    }

    @include media-breakpoint-down(md){
        justify-content: center;
        //align-items: center;

        svg {
            position: static !important;
            transform: none !important;
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            margin-right: 0.25rem;
            margin-left: 0;
        }
    }
}

.btn-enquire-private-hospital {
    @include font-size(16);
    border-radius: $border-radius;
    text-align: center;
    padding: 15px 25px 15px 45px;

    svg {
        @include v-c;
        left: 8px;
        width: 30px;
        height: 25px;
    }
}

.btn-enquire-pink {
    border-radius: 20px;
    background: $white;
    color: $pink;
    @include font-size(12);
    position: relative;
    padding: 10px 10px 10px 35px;
    display: inline-block;
    text-align: left;
    width: 131px;

    &:before {
        content: '';
        background-image: url('../images/icons/circle-check-pink.svg');
        @include icon-bg-center(100%);
        @include v-c;
        left: 10px;
        width: 20px;
        height: 20px;
    }

    &:hover {
        color: $white;
        background-color: $pink;
        text-decoration: none;

        &:before {
            background-image: url('../images/icons/circle-check.svg');

        }
    }
}
