//BUTTONS


// New set of styles based on RC UI kit
.btn {
    border-radius: 100px;
    color: $white;
    font-size: 24px;
    padding: 14px 26px;
    background-size: 300% 100% !important;
    background-position: left;
    position: relative;
    @include transition(0.3s);
    cursor: pointer;

    &:hover {
        color: $white;
        background-position: right !important;
    }

    svg, i {
        position: absolute;
    }

    //sizes
    &.btn-xs {
        font-size: 16px;
        padding: 6px 18px;
    }

    &.btn-s {
        font-size: 18px;
        height: 45px;
        line-height: 45px;
        padding: 0 30px;
    }

    &.btn-m {
        font-size: 22px;
        padding: 10px 47px;
    }

    &.btn-l {
        font-size: 28px;
        padding: 12px 30px;
    }

    &.btn-xl {
        font-size: 32px;
        padding: 14px 34px;
    }

    //margins
    &.btn-mg-right {
        margin-right: 20px;
    }

    &.btn-mg-bottom {
        margin-bottom: 20px;
    }

    &.btn-mg-left {
        margin-left: 20px;
    }

    &.btn-mg-top {
        margin-top: 20px;
    }

    //colours
    &.btn-teal {
        @include linear-gradient(90deg, $teal, $teal, $green);

        &.btn-grad {
            @include linear-gradient(90deg, $teal, $green, $teal);
        }
    }

    &.btn-blue {
        @include linear-gradient(90deg, $blue, $blue, $teal);

        &.btn-grad {
            @include linear-gradient(90deg, $blue, $teal, $blue);
        }
    }

    &.btn-violet {
        @include linear-gradient(90deg, $violet, $violet, $blue);

        &.btn-grad {
            @include linear-gradient(90deg, $violet, $blue, $violet);
        }
    }

    &.btn-hanblue {
        @include linear-gradient(90deg, $hanblue, $hanblue, $violet);

        &.btn-grad {
            @include linear-gradient(90deg, $hanblue, $violet, $hanblue);
        }
    }

    &.btn-green {
        @include linear-gradient(90deg, $green, $green, $teal);

        &.btn-grad {
            @include linear-gradient(90deg, $green, $teal, $green);
        }
    }

    &.btn-green-outline {
        height: 32px;
        width: 32px;
        border-radius: 23px;
        border: 2px solid #00cecd;
        flex: 0 0 32px;
        padding: 0;


        &:after {
            content: '';
            position: absolute;
            @include v-h-c;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-image: url('../images/icons/heart.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 50% !important;
        }

        &.selected:after {
            background-image: url('../images/icons/heart-selected.svg');
            background-color: #00cecd;
        }
    }

    &.btn-green-plus {
        position: absolute;
        right: 10px;
        top: 90px;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        background-color: $teal;
        background-image: url('../images/icons/plus-solid.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        flex: 0 0 32px;
        padding: 0;
    }

    &.btn-pink {
        @include linear-gradient(90deg, $pink, $pink, $violet);

        &.btn-grad {
            @include linear-gradient(90deg, $pink, $violet, $pink);
        }
    }

    &.btn-black {
        @include linear-gradient(90deg, $black, $black, $pink, $pink);
        background-size: 300% !important;
    }

    &.btn-read-more {
        border-radius: 50px;
        color: #fff;
        font-size: 22px;
        height: 46px;
        line-height: 46px;
        background: #ed0373;
        background: linear-gradient(-90deg, #ed0373, #fc278d, #fc278d, #649ef7, #649ef7, #1b70f3, #1b70f3);
        transition: 0.6s;
        padding: 0 25px;
    }

    // icon buttons
    &.btn-icon {
        &:before,
        &:after {
            content: '';
            position: absolute;
            @include icon-bg-center;
        }

        &.btn-arrow-right {
            background: #649ef7;
            background: linear-gradient(-90deg, #649ef7, #1b70f3, #1b70f3, #1b70f3);
            background-size: 200%;
            //background-position: right;
            border-radius: 100px;
            height: 50px;
            line-height: 50px;
            font-size: 22px;
            padding: 0 60px 0 20px;
            position: relative;

            &:after {
                background-image: url('../images/icons/up-arrow.svg');
                @include icon-bg-center(30%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 50px;
                height: 50px;
                line-height: 50px;
                transform: rotate(90deg);
            }

            &:hover {
                background-position: left;
            }
        }

        &.btn-arrow-down {
            padding-right: 60px;

            i, svg {
                @include v-c;
                right: 20px;
                transition: $transition;
            }

            &.open {
                i, svg {
                    transform: translateY(-50%) rotate3d(0, 0, 1, 180deg);
                }
            }
        }

        &.btn-consultant {
            /* Style for "Consultant" */
            height: 20px;
            line-height: 20px;
            @include font-size(14);

            letter-spacing: -0.6px;
            padding: 0 20px 0 12px;

            &:after {
                background-image: url('../images/icons/plus-solid.svg');
                @include icon-bg-center(40%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 20px;
                width: 20px;
                height: 20px;
                line-height: 20px;
            }
        }

        &.btn-close__small {
            color: $white;
            height: 20px;
            line-height: 20px;
            @include font-size(14);
            letter-spacing: -0.6px;
            padding: 0 20px 0 12px;

            &:after {
                background-image: url('../images/icons/up-arrow.svg');
                @include icon-bg-center(30%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 20px;
                height: 20px;
                line-height: 20px;
                transform: rotate(90deg);
            }

            &:hover {
                color: $white;

            }
        }

        &.btn-go {
            color: $white;
            height: 20px;
            line-height: 20px;
            @include font-size(14);
            letter-spacing: -0.6px;
            padding: 0 20px 0 12px;
            background: linear-gradient(90deg, #003a5d, #003a5d, #00bcb4, #00bcb4);
            background-size: 300% 100%;

            &:after {
                background-image: url('../images/icons/up-arrow.svg');
                @include icon-bg-center(30%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 20px;
                height: 20px;
                line-height: 20px;
                transform: rotate(90deg);
            }

            &:hover {
                color: $white;
                background-position: 0%;
            }

            &:focus {
                animation-name: bg-reverse;
                animation-duration: 5s;
            }
        }

        &.btn-enquire {
            border-radius: 10px;
            color: $white !important;
            @include font-size(14);
            letter-spacing: -0.7px;
            line-height: 13px;
            height: 40px;
            transition: $transition;
            position: relative;
            padding: 7px 15px 7px 40px;
            display: inline-block;
            text-align: left;
            max-width: 117px;

            &:before {
                content: '';
                background-image: url('../images/icons/circle-check.svg');
                @include icon-bg-center;
                position: absolute;
                left: 0;
                top: 0;
                width: 40px;
                height: 40px;
            }
        }

        input[type="submit"].btn-enquire {

        }

        &.btn-enquire-pink {
            border-radius: 10px;
            background: $white;
            color: $pink;
            @include font-size(14);

            letter-spacing: -0.7px;
            line-height: 13px;
            height: 40px;
            transition: $transition;
            position: relative;
            padding: 5px 15px 5px 40px;
            display: inline-block;
            text-align: left;
            max-width: 117px;

            &:before {
                content: '';
                background-image: url('../images/icons/circle-check-pink.svg');
                @include icon-bg-center;
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                width: 40px;
                height: 40px;
            }

            &:hover {
                color: $white;
                background-color: $pink;
                text-decoration: none;

                &:before {
                    background-image: url('../images/icons/circle-check.svg');

                }
            }
        }

        // Button inside special offer tabs in solutions bar
        &.btn-enquire-now {
            font-family: "SofiaPro-Bold", sans-serif;
            color: $pink;
            background-color: $white;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            letter-spacing: -0.6px;
            padding: 0 30px 0 12px;

            &:after {
                background-image: url('../images/icons/up-arrow-pink.svg');
                @include icon-bg-center(30%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                transform: rotate(90deg);
            }

            &:hover {
                color: $white;
                background-color: $pink;

                &:after {
                    background-image: url('../images/icons/up-arrow.svg');
                }
            }
        }

        &.btn-special-offer {
            padding: 13px 20px 13px 40px;
            border-radius: 10px;
            font-size: 14px;
            color: $white;
            height: 40px;
            line-height: 13px;
            //min-width: 160px;

            &:before {
                background-image: url('../images/icons/special.svg');
                @include icon-bg-center(50%);
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }

            //&:after {
            //    background-image: url('../images/icons/plus-solid.svg');
            //    @include icon-bg-center(30%);
            //    position: absolute;
            //    right: 0;
            //    top: 0;
            //    bottom: 0;
            //    width: 40px;
            //    height: 40px;
            //    line-height: 40px;
            //}

        }

        &.btn-special-offer-reverse {
            padding: 13px 20px;
            border-radius: 10px;
            border: 1px solid $pink;
            font-size: 14px;
            color: $pink;
            height: 40px;
            line-height: 13px;
            background-color: $white;
            min-width: 160px;

            &:before {
                background-image: url('../images/icons/special-pink.svg');
                @include icon-bg-center(50%);
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }

            &:after {
                background-image: url('../images/icons/plus-solid-pink.svg');
                @include icon-bg-center(30%);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }

        }

        // Button on the floating green bar


        // Back to top button
        &.btn-back-to-top {
            padding: 0 50px 0 20px;
            color: $white;
            height: 60px;
            line-height: 60px;
            background-color: $teal;
            min-width: 182px;
            border-radius: 10px 10px 0 0;
            font-size: 22px;
            letter-spacing: -0.66px;

            svg {
                position: absolute;
                right: 20px;
                top: 20px;
            }

            &:hover {
                background-position: right;
            }
        }
    }
}

// Container for buttons
.btn-area {
    line-height: 1;
}

.btn-submit-results {
    font-size: 18px;
    background-size: 300% 100%;
    letter-spacing: -0.9px;
    line-height: 20px;
    background-image: linear-gradient(270deg, #00cecd 0%, #00d7b5 56%, #00df9d 100%);

    &:hover {
        background-position: right;
    }
}

.btn-link {
    color: $darkerGrey;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $teal;
        text-decoration: none;
    }
}
