

// Trigger the tooltip speech bubble
.help-link {
    color: $black;
    position: $absolute;
    border-radius: 50%;
    background: $lightGrey;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    z-index: 99;
    cursor: pointer;

    &.help-link__inline {
        position: initial;
        display: inline-block;
    }
}
.home-page {
    .box {
        .help-link {
            right: 40px;
            top: 20px;
        }
    }
}

.results-page {
    .help-link {
        top: 0;
        right: 18px;
    }
}



.help-link:hover + .lightbox {
  display:block;
}
