

// Trigger the tooltip speech bubble
.help-link {
    color: $black;
    position: absolute;
    border-radius: 50%;
    background: $lightGrey;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    z-index: 5;
    cursor: pointer;

    &.help-link__inline {
        position: initial;
        display: inline-block;
    }

    &:hover {
        text-decoration: none;
    }
}

.home-page {
    .box {
        .help-link {
            right: 60px;
            top: 20px;
        }
    }
}

.results-page {
    .help-link {
        top: 3px;
        right: 20px;
    }
}



.help-link:hover + .lightbox {
  display:block;
}
