.rangeParent {
    width: 100%;
    background-color: lightblue;

    label {
        margin-bottom: 0;
    }

    .radiusRange {
        flex: 1;
    }

    position: relative;
    // height: 100%;

    input,
    .range-labels {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .range-labels {
        bottom: 0;
        padding: 0 11px;
    }
}

//#radiusProx {
//    margin-left: 30px;
//}

.currentRadius {
    position: absolute;
    right: 0;
    top: 0;
    color: $aqua;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.35px;
    line-height: 16.8px;
}

// Labels below slider
.range-labels {
    //margin: 0 -11px;
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;

    li {
        position: relative;
        display: inline-block;
        width: calc(calc(100% - 22px)/6);
        flex: calc(calc(100% - 22px)/6);
        text-align: center;
        color: #b2b2b2;
        font-size: 14px;
        cursor: pointer;
        border: 1px solid red;

        &::before {
            position: absolute;
            top: -25px;
            right: 0;
            left: 0;
            content: "";
            margin: 0 auto;
            width: 9px;
            height: 9px;
            background: #b2b2b2;
            border-radius: 50%;
        }

        &:first-child {
            margin-left: -29px;
        }
        &:last-child {
            margin-right: -29px;
        }
    }

    //.active {
    //    color: #37adbf;
    //}

    .selected::before {
        background: #37adbf;
    }

    //.active.selected::before {
    //    display: none;
    //}
}

