.rangeParent {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 150px;

    label {
        margin-bottom: 0;
        @include v-c;
        left: 0;
    }


    .currentRadius {
        position: absolute;
        top: 0;
    }


    input,
    .range-labels {
        position: absolute;
        width: 100%;
    }

    // The range slider
    input {
        top: 32px;
        flex: 1;
        z-index: 5;
    }

    .range-labels {
        top: 0;
        padding: 0 $range-handle-size/2;
        pointer-events: none;
    }
}

//#radiusProx {
//    margin-left: 30px;
//}

.currentRadius {
    position: absolute;
    right: 0;
    top: 0;
    color: $aqua;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.35px;
    line-height: 16.8px;
}

// Labels below slider
.range-labels {
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;

    li {
        position: relative;
        display: inline-block;
        width: calc(calc(100% - #{$range-handle-size}) / 6);
        flex: calc(calc(100% - #{$range-handle-size}) / 6);
        text-align: center;
        color: $teal;
        @include font-size(14);
        @extend .SofiaPro-Bold;
        cursor: pointer;

        &::before {
            position: absolute;
            top: 25px;
            right: 0;
            left: 0;
            content: "";
            margin: 0 auto;
            width: 5px;
            height: 21px;
            background-color: #ebebeb;
        }

        &:first-child {
            margin-left: calc(-1 * calc(100% - #{$range-handle-size}) / 12);
        }

        &:last-child {
            margin-right: calc(-1 * calc(100% - #{$range-handle-size}) / 12);
        }

        &.active {
            @extend .SofiaPro-Black;
        }

        &.fill {
            &:before {
                background-color: $teal;
            }
        }
    }


    .selected::before {
        background: #37adbf;
    }

    //.active.selected::before {
    //    display: none;
    //}
}

.range-wrapper {
    .track-mask {
        position: absolute;
        background-color: #fff;
        z-index: 5;
        width: 10px;
        height: 20px;
        bottom: 20px;

        &__start {
            left: 0;
        }

        &__end {
            right: 0;
        }
    }
}

