// https://codepen.io/nosurprisethere/pen/KJxwQz
//http://danielstern.ca/range.css/#/ - not used here, but useful



// Reset

.range-slider {
    //margin: 60px 0 0 0%;
    * {
        &,
        &:before,
        &:after {
            box-sizing: border-box;
        }
    }
}



.range-slider {
    width: $range-width;
}

.range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    //width: calc(100% - (#{$range-label-width + 13px}));
    height: $range-track-height;
    border-radius: 0;
    background: linear-gradient(90deg, white 9.9px, rgb(235, 235, 235) 10px, rgb(235, 235, 235) calc(100% - 10px), white calc(100% - 9.9px));
    outline: none;
    padding: 0;
    margin: 0;

    // Range Handle
    &::-webkit-slider-thumb {
        appearance: none;
        width: $range-handle-size;
        height: $range-handle-size;
        border-radius: 50%;
        background: $range-handle-color;
        cursor: pointer;
        transition: background .15s ease-in-out;


        //&:hover {
        //    background: $range-handle-color-hover;
        //}
    }

    &:active::-webkit-slider-thumb {
        background: $range-handle-color-hover;
    }

    &::-moz-range-thumb {
        width: $range-handle-size;
        height: $range-handle-size;
        border: 0;
        border-radius: 50%;
        background: $range-handle-color;
        cursor: pointer;
        transition: background .15s ease-in-out;

        &:hover {
            background: $range-handle-color-hover;
        }
    }

    &:active::-moz-range-thumb {
        background: $range-handle-color-hover;
    }

    // click state
    //&:click {
    //
    //    &::-webkit-slider-thumb {
    //        box-shadow: 0 0 0 3px $shade-0,
    //        0 0 0 6px $teal;
    //    }
    //}
}

// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-click-inner,
input::-moz-click-outer {
    border: 0;
}
