.bootstrap-select {
    &.show {
        .dropdown-toggle {
            background-color: #fff !important;
        }
    }

    .dropdown-toggle {
        //padding: 0 40px 0 13px;
        background-color: $white;
        color: $darkerGrey;
        font-weight: 500;
        border: 2px solid $darkestWhite;
        border-radius: $border-radius;

        &:after {
            display: none;
        }

        &:hover {
            color: $darkerGrey;
            background-color: #fff;
        }

        &:active {
            background-color: #fff !important;
        }

        &:focus {
            outline: none !important;
        }
    }

    &.big {
        // Button added by BS select
        .dropdown-toggle {
            padding: 16px 60px;
            width: 100%;
            //border-radius: 10px;
            color: $darkerGrey;
            @include font-size(18);
            @extend .SofiaPro-Medium;
            border: 2px solid $darkestWhite;

            &:before {
                content: '';
                background-image: url('/images/icons/icon-choose-treatment.svg');
                @include icon-bg-center(100%, 20px, 20px);
                @include v-c;
                left: 20px;
            }
        }
    }

    + svg,
    + span {
        pointer-events: none;
    }

        .suboption {
            padding-left: 50px;
        }
}

.results-page {
    .filter-section {
        .dropdown-toggle,
        .results-page-select {
            //max-width: 158px;

            option {
                background-color: $white !important;
            }
        }
    }
}
