
.special-offers-slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 50vw;
    color: $white;
    background-image: linear-gradient(252deg, #d57ca6 0%, #ed0373 100%);
    padding: 22px;
    transform: translate3d(-50%, 0, 0);
    transition: $transition;
    opacity: 0;
    pointer-events: none;
    border-radius: 0 10px 10px 10px;

    &.show {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        z-index: 5;
        pointer-events: initial;
    }

    .close {
        right: 0;
        top: 0;
        width: 25px;
        height: 25px;
        line-height: 25px;
        background-color: #80efce;
        background-image: url('../images/icons/plus-solid.svg');
        @include icon-bg-center(70%);
        border-radius: 50%;
        z-index: 10;
        opacity: 1;
        transform: translate(50%, -50%) rotate(-45deg);

    }

    ul {
        width: 80%;

        li {
            list-style: none;
            font-size: 13px;
            line-height: 2;
            font-weight: 400;
            letter-spacing: -0.65px;
            position: relative;
            padding-left: 30px;

            &:before {
                content: url("/images/icons/circle-check.svg");
                width: 20px;
                height: 20px;
                @include v-c;
                left: 0;
            }
        }
    }
}

.test-page {
    .special-offers-slide {
        position: static;
    }
}
