input,
button,
select,
optgroup,
textarea {
  margin: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

//input:not([type="range"]) {
//  border: 2px solid #ebebeb;
//  padding-left:5px;
//}
