//BUTTONS
.hospBtn {
    font-size: 1.125rem;
    line-height: 1.5;
    border-radius: 24px;
    color: $white;
    background-image: linear-gradient(270deg, #00cecd 0%, #00d7b5 56%, #00df9d 100%);
    width: $fullWidth;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.blueOval {
    padding: 15px;
    border-radius: 10px;
    background: #1b71f3;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 13px;
    transition: $transition;
    position: relative;

    &:hover {
        color: $white;
        text-decoration: none;
        opacity: 0.8;
    }
}

.results-page {
    .blueOval {
        padding: 15px 15px 15px 45px;
        display: block;

        &:before {
            content: url('../images/icons/circle-tick.svg');
            position: absolute;
            left: 12px;
            top: 12px;
            width: 22px;
            height: 22px;
        }
    }
}

.greenOvalTop {
    background-image: linear-gradient(270deg, #00cecd 0%, #00d7b5 56%, #00df9d 100%);
    border-radius: 12px 12px 0 0;
}


.greenOval {
    background-image: linear-gradient(270deg, #00cecd 0%, #00d7b5 56%, #00df9d 100%);
    width: 219px;
    height: 58px;
    border-radius: 29px;
    letter-spacing: -1.1px;
    line-height: 24px;
    padding: 15px 40px;
}

.greenOval:hover, .greenOvalTop:hover {
    background: #00e09d;
    //background: -webkit-linear-gradient(legacy-direction(90deg), #00e09d,#00cecd,#00e09d);
    background: linear-gradient(90deg, #00e09d, #00cecd, #00e09d);
    color: $white;
    text-decoration: none;
}

.submitBtn {
    background-image: linear-gradient(270deg, #00cecd 0%, #00d7b5 56%, #00df9d 100%) !important;
}

// New set of styles based on RC UI kit
.btn {
    border-radius: 100px;
    color: $white;
    font-size: 24px;
    padding: 14px 26px;
    background-size: 200% !important;
    background-position: left !important;
    position: relative;
    @include transition(0.3s);

    svg, i {
        position: absolute;
    }
    //sizes
    &.btn-xs {
        font-size: 16px;
        padding: 6px 18px;
    }

    &.btn-s {
        font-size: 20px;
        padding: 8px 22px;
    }

    &.btn-m {
        font-size: 22px;
        font-weight: 400;
        padding: 10px 47px;
    }

    &.btn-l {
        font-size: 28px;
        padding: 12px 30px;
    }

    &.btn-xl {
        font-size: 32px;
        padding: 14px 34px;
    }

    //margins
    &.btn-mg-right {
        margin-right: 20px;
    }

    &.btn-mg-bottom {
        margin-bottom: 20px;
    }

    &.btn-mg-left {
        margin-left: 20px;
    }

    &.btn-mg-top {
        margin-top: 20px;
    }

    //colours
    &.btn-teal {
        @include linear-gradient(90deg, $teal, $teal, $green);

        &.btn-grad {
            @include linear-gradient(90deg, $teal, $green, $teal);
        }
    }

    &.btn-blue {
        @include linear-gradient(90deg, $blue, $blue, $teal);

        &.btn-grad {
            @include linear-gradient(90deg, $blue, $teal, $blue);
        }
    }

    &.btn-violet {
        @include linear-gradient(90deg, $violet, $violet, $blue);

        &.btn-grad {
            @include linear-gradient(90deg, $violet, $blue, $violet);
        }
    }

    &.btn-hanblue {
        @include linear-gradient(90deg, $hanblue, $hanblue, $violet);

        &.btn-grad {
            @include linear-gradient(90deg, $hanblue, $violet, $hanblue);
        }
    }

    &.btn-green {
        @include linear-gradient(90deg, $green, $green, $teal);

        &.btn-grad {
            @include linear-gradient(90deg, $green, $teal, $green);
        }
    }

    &.btn-green-outline {
        display: block;
        border: 2px solid #00cecd;
        background-color: rgba(27, 112, 243, 0);
        color: #00cecd;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.7px;
        line-height: 14px;
        padding: 9px 65px 9px 37px;

        svg {
            right: 39px;
            top: 10px;
        }
    }

    &.btn-pink {
        @include linear-gradient(90deg, $pink, $pink, $violet);

        &.btn-grad {
            @include linear-gradient(90deg, $pink, $violet, $pink);
        }
    }

    &.btn-black {
        @include linear-gradient(90deg, $black, $black, $pink, $pink);
        background-size: 300% !important;
    }

    //gradient button
    &:hover {
        background-position: right !important;
    }
}
