// Trigger the tooltip speech bubble
.helpLink {
  color: $black;
  position: $absolute;
  top: 0;
  right: 18px;
  border-radius: 50%;
  background: $lightGrey;
  width: 20px;
  height: 20px;
  text-align: center;
  z-index: 99;
  cursor: pointer;
}

.helpLink:hover + .lightbox {
  display:block;
}
