
.helpLink {
  color: $black;
  position: $absolute;
  top: 20px;
  left: 250px;
  border-radius: 50%;
  background: $lightgrey;
  width: 20px;
  height: 20px;
  text-align: center;
  z-index: 99;
  cursor: pointer;
}

.helpLink:hover + .lightbox{
  display:block;
}

//REPOSITION HELP LINK


.helpPosition1{
  left: 90px !important;
}

.helpPosition2{
  left: 80px !important;
}

.helpPosition3{
  left: 155px !important;
}

.helpPosition4{
  left: 120px !important;
}

.helpPosition5{
  left: 160px !important;
}