//SELECTBOX
.selectParent{
  position:$relative;
}
.flexSelect{
  @include flex;
}

.selectBox{
  color: $darkerGrey;
  @include flexBasis;
  position: relative;
  left: 40px;
  top:10px;
}

.lessWideSelect{
  //@include flex;
}

.adjustPosition1{
  top:15px;
}

select{
  border: 2px solid #ebebeb;  /*Removes border*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow:'';
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/
}
select::-ms-expand {
  display: none;
}
.select-wrapper
{
  padding-left:0px;
  overflow:hidden;
}


