//SELECTBOX
.selectParent {
    position:$relative;

    select {
        width: 100%;
    }
}

.flexSelect {
    @include flex;
}

.selectBox {
    color: $darkerGrey;
    @include flexBasis;
    position: relative;
    left: 40px;
    top:10px;
}

input,
select {
    border: 2px solid #ebebeb;  /*Removes border*/
    border-radius: 10px;
    appearance: none;
    color: $darkerGrey;
        //text-indent: 0.01px; /* Removes default arrow from firefox*/
    //text-overflow: "";  /*Removes default arrow from firefox*/
}

//input::-webkit-input-placeholder {
//    color: red;
//}

select::-ms-expand {
    display: none;
}

.select-wrapper {
    padding-left: 0px;
    overflow: hidden;
}

// Homepage banner form
.box {
    select,
    input {
        padding-left: 16px;
    }
    input:not([type="submit"]) {
        width: 100%;
        @include placeholder {
            color: $darkerGrey;
        }
    }
}

