.about-us-page {
    .signature {
        @include font-size(3rem);
    }

    .feature-box {
        padding: 4rem 2rem !important;
        display: flex;
        flex-direction: column;
        height: 100%;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
            height: auto !important;
        }
    }

    .understanding-choices {
        .icon-wrapper {
            width: 70px;
            margin: 0 auto;
        }
    }

    .about-dots {
        position: absolute;
        top: -30px;
        right: -2px;
        width: 36px !important;
    }

    .about-circle {
        position: absolute;
        top: -42px;
        right: -50px;
        width: 320px !important;
        z-index: -1;
    }

    .about-impartial {
        background-image: url(../images/about-corner.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        border-bottom: 1px solid #ededed;
        background-size: 20%;
        padding: 0 0 75px !important;
    }

    // Swirl animation
    .svg-wrapper {
        svg path {
            fill: none;
            stroke: $brand-primary-1;
            stroke-width: 1px;
            stroke-dasharray: 624;
            stroke-dashoffset: 624;
        }

        &.draw {
            svg {
                path {
                    animation: drawswirl 3s linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

.about-us-intro {
    border-bottom: $greyBorder;
    @include media-breakpoint-up(lg) {
        background-image: url('/images/layer_16.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right 75px;
    }
}

.our-background {
    .icon-wrapper {
        height: 60px;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.social-contacts {
    .social-links {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;
                margin-left: 20px;
                display: inline-flex;

                svg {
                    path {
                        stroke: $brand-primary-1;
                        fill: $brand-primary-1;
                    }
                }

                &.facebook-social {
                    svg {
                        width: 20px;
                    }
                }

                &.twitter-social {
                    svg {
                        width: 38px;
                    }
                }

                &.instagram-social {
                    svg {
                        width: 38px;
                    }
                }

                a {
                    &:hover {
                        svg {
                            path {
                                stroke: $body-color;
                                fill: $body-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
