.about-us-page {
    .signature {
        @include font-size(3rem);
    }

    .feature-box {
        padding: 4rem 2rem !important;
        display: flex;
        align-items: center;
        height: 100%;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
            height: auto !important;
        }

        p {
            margin-bottom: 0;
            @include font-size(18);
        }
    }

    .understanding-choices {
        .hc-icon-wrapper {
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }
    }

    .about-img {
        margin-right: 50px;
    }

    .about-dots {
        position: absolute;
        top: -30px;
        right: -2px;
        width: 36px !important;
    }

    .about-circle {
        position: absolute;
        top: -42px;
        right: -50px;
        width: 320px !important;
        z-index: -1;
    }

    .about-impartial {
        background-image: url(/images/icons/about-corner.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        border-bottom: 1px solid #ededed;
        background-size: 20%;
        padding: 0 0 75px !important;
    }




    @media screen and (max-width:1200px) {
        .about-hero-cont {
            position: absolute;
            transform: translate(20%, 0);
            width: 60% !important;
            max-width: 60% !important;
            bottom: -50px;
            top: -40px;
            right: 0px;
            flex: 0 0 60%;
        }
    }

    @media screen and (max-width:991px) {
        .about-hero-cont {
            position: relative;
            top: 0;
            right: 0;
            width: 100% !important;
            max-width: 100% !important;
            transform: translate(0%);
            bottom: 0;
            height: 450px;
            flex: 0 0 100%;
        }
    }

    @media screen and (max-width:576px) {
        .about-hero-cont {
            position: relative;
            top: 0;
            right: 0;
            transform: translate(0%);
            bottom: 0;
            height: 450px;
        }

        .about-img-top {
            height: 250px;
            width: 240px;
        }

        .about-img-bottom {
            height: 230px;
            width: 270px;
        }
    }

    // Swirl animation
    .swirl.svg-wrapper {
        svg path {
            fill: none;
            stroke: $brand-primary-1;
            stroke-width: 1px;
            stroke-dasharray: 624;
            stroke-dashoffset: 624;
        }

        &.draw {
            svg {
                path {
                    animation: drawswirl 3s linear;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}


.about-hero-cont {
    position: absolute;
    top: -45px;
    right: 0;
    transform: translate(0%);
    bottom: -45px;
}


.about-img-top {
    position: absolute;
    z-index: 999;
    background: url("/images/about-hero-top.jpg");
    background-size: cover;
    height: 350px;
    width: 330px;
    border-radius: 5px;
    right: 75px;
}

.about-img-bottom {
    position: absolute;
    z-index: 998;
    background: url("/images/about-hero-bottom.jpg");
    background-size: cover;
    height: 260px;
    width: 300px;
    border-radius: 5px;
    bottom:30px;
    left: 40px;
}

.about-pattern-top-left {
    position: absolute;
    z-index: 997;
    top: -20px;
    left:70px;
    width: 140px;
}

.about-pattern-right {
    position: absolute;
    z-index: 996;
    right: 0;
    top: 60px;
    width: 115px;
}

.about-pattern-bottom {
    position: absolute;
    z-index: 995;
    bottom: 0;
    height: 85px;
}

.about-us-intro {
    border-bottom: $greyBorder;

}

.our-background {
    .hc-icon-wrapper {
        height: 60px;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.social-contacts {
    .social-links {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;
                margin-left: 20px;
                display: inline-flex;

                svg {
                    path {
                        stroke: $brand-primary-1;
                        fill: $brand-primary-1;
                    }
                }

                &.facebook-social {
                    svg {
                        width: 20px;
                    }
                }

                &.twitter-social {
                    svg {
                        width: 38px;
                    }
                }

                &.instagram-social {
                    svg {
                        width: 38px;
                    }
                }

                a {
                    &:hover {
                        svg {
                            path {
                                stroke: $body-color;
                                fill: $body-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
