.hc-content {
    p {
        @include font-style(false, 20px, false, false, 24px, -1px);
    }

    table {
        ol, ul {
            margin: 0;

            li {
                font-size: inherit
            }
        }
    }

    em {
        color: $blue;
    }

    ol, ul {
        list-style-type: none;
    }

    ul {
        //padding: 0 0 0 50px;
        margin: 30px 0 50px 0;

        > li {
            @include font-style(false, 20px, false, false, 24px, -1px);
            margin: 0 0 22px 0;
            position: relative;
            padding: 0 0 0 40px;

            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: 0;
                width: 11px;
                height: 11px;
                background-color: $blue;
                border-radius: 50%;
            }
        }
    }

    ol {
        //padding: 0 0 0 50px;
        margin: 30px 0 50px 0;
        counter-reset: counter;

        li {
            font-size: 22px;
            margin: 0 0 22px 0;
            position: relative;
            padding: 0 0 0 40px;
            counter-increment: counter;
            line-height: 1;

            &:before {
                content: counter(counter) '.';
                position: absolute;
                top: 0;
                left: 0;
                color: $blue;
                @extend .font-semibold;
            }
        }
    }



    blockquote {
        padding: 40px 0;

        p {
            max-width: 80%;
            margin: 0 auto 20px auto;
            text-align: center;
            font-size: 22px;
            color: $teal;
        }
    }

    hr {
        border: 0;
        float: left;
        width: 100%;
        height: 2px;
        background-color: $green;
    }

    .btn-link {
        color: $darkerGrey;
    }


}

ol.alpha {
    counter-reset: counter;

    li {
        position: relative;
        counter-increment: counter;
        padding-left: 40px;
        text-align: left;

        &:before {
            content: '(' counter(counter, lower-alpha) ')';
            position: absolute;
            top: 0;
            left: 0;
            color: $blue;
            @extend .font-semibold;
        }
    }
}



//@mixin font-source-sans(
// $family: false,
// $size: false,
// $colour: false,
// $weight: false,
// $lh: false,
// $ls: false) {
//    @if $family { font-family: $family, Helvetica, Arial, sans-serif; }
//    @if $size { font-size: $size; }
//    @if $colour { color: $colour; }
//    @if $weight { font-weight: $weight; }
//    @if $lh { line-height: $lh; }
//    @if $ls { letter-spacing: $ls; }
//}

h1,
h2,
h3,
h4,
h5,
h6 {
    //@extend .font-semibold;
}

h1 {
    @include font-style('SofiaPro-Black', 45px, false, false, 45px, -2.25px);
    margin: 0 0 30px 0;
}

h2 {
    @include font-style('SofiaPro-Bold', 28px, false, false, 35px, -2.25px);
    margin: 0 0 28px 0;
}

.section-title {
    @include font-style('SofiaPro-Bold', 40px, false, false, 48px, -2px);
    margin-bottom: 40px;
}

.page-subtitle {
    @include font-style('SofiaPro-SemiBold', 28px, false, false, 35px, -1.45px);
}

h3 {
    font-size: 24px;
    margin: 0 0 24px 0;
}

h4 {
    font-size: 24px;
    color: $teal;
    margin: 0 0 24px 0;
}

h5 {
    font-size: 22px;
    color: $pink;
    margin: 0 0 22px 0;
}

h6 {
    font-size: 22px;
    margin: 0 0 22px 0;
}

p {
    @include font-style(false, 14px, false, false, 16.8px, -1px);
}
