.faqs-page {
    .hl { // The highlighted span for search terms in results
        @extend .bg-turq;
        @extend .text-white;
    }

    .input-wrapper {
        svg {
            @include v-c;
            left: 23px;
            top: 48%;
            width: 20px;

            path {
                fill: $brand-1;
            }
        }
    }

    input#faq_search_input {
        border: 2px solid $brand-1 !important;
        border-radius: 5px !important;
        padding: 22px 45px 22px 60px;
        @include font-size(18);

        @include placeholder {
            //@include font-style(false, false, #000, false, false, -1.6px);
            @include font-size(18);
        }
    }

    // The cross icon to clear input
    ::-webkit-search-cancel-button {
        position: relative;
        right: -10px;
        appearance: none;
        height: 30px;
        width: 30px;
        content: url('/images/icons/times-solid.svg');
    }
}

