.faqs-page {
    .hl { // The highlighted span for search terms in results
        @extend .bg-teal;
        @extend .text-white;
    }

    .input-wrapper {
        svg {
            left: 35px;
        }
    }

    input.faq-search-input {
        border: 3px solid $turq !important;
        height: 62px;
        //line-height: 80px;
        border-radius: 40px !important;
        padding-left: 90px;
        padding-right: 45px;
        @include font-style(false, 32px, #000, false, false, -1.6px);

        @include placeholder {
            @include font-style(false, false, #000, false, false, -1.6px);
        }
    }

    // The cross icon to clear input
    ::-webkit-search-cancel-button {
        position: relative;
        right: -10px;
        appearance: none;
        height: 30px;
        width: 30px;
        content: url('/images/icons/times-solid.svg');
    }
}

