.faqs-page {
    .hl { // The highlighted span for search terms in results
        @extend .bg-turq;
        @extend .text-white;
    }

    .input-wrapper {
        svg {
            left: 35px;
        }
    }

    input#faq_search_input {
        border: 3px solid $turq !important;
        border-radius: 40px !important;
        padding: 12px 45px 12px 80px;
        @include font-size(25);

        @include placeholder {
            //@include font-style(false, false, #000, false, false, -1.6px);
            @include font-size(25);
        }
    }

    // The cross icon to clear input
    ::-webkit-search-cancel-button {
        position: relative;
        right: -10px;
        appearance: none;
        height: 30px;
        width: 30px;
        content: url('/images/icons/times-solid.svg');
    }
}

