.home-page {

    .video-wrapper {
        //border: 1px solid $borderVideo;
        border-radius: 15px;

        .player-button {
            background-image: url(../images/player_button.png);
            background-size: cover;
            height: 78px;
            width: 78px;
            z-index: 5;
        }
    }

    //=======================WHY CHOOSE SECTION=======================
    .why-use-parent {
        background: $lighterGrey;

        .why-use-content {
            padding: 70px 0 60px;
        }

        .why-use { // container
            //color: #1b1b1b;
            p {
                //font-style($family: 'SofiaPro-Regular', $size: false, $colour: $body-color, $weight: 400,  $lh: false, $ls: false);
                @include font-size(20);
            }
        }

        .why-use-video {
            @include media-breakpoint-up(md) {
                padding-left: 110px;
            }
        }

        .icon {
            margin-bottom: 20px;
        }
    }
    //=======================END WHY CHOOSE SECTION=======================



}
