.home-page {
    .video-wrapper {
        .player-button {
            background-image: url(../images/player_button.png);
            background-size: cover;
            height: 78px;
            width: 78px;
            z-index: 5;
        }
    }

    //=======================WHY CHOOSE SECTION=======================
    .why-use-parent {
        background: $bgGrey;

        .why-use { // container
            p {
                //font-style($family: 'SofiaPro-Regular', $size: false, $colour: $body-color, $weight: 400,  $lh: false, $ls: false);
                @include font-size(1.1rem);
                line-height: 1.6;
            }
        }

        .icon {
            margin-bottom: 20px;
        }
    }
}

//=======================END WHY CHOOSE SECTION=======================

//======================= TESTIMONIALS =======================
.job-title {
    @include font-size(11);
}

//======================= Home faqs =======================
.faqs-section {
    .hc-faqs-accordion {
        .card {
            @include media-breakpoint-down(md) {
                padding-top: 110px;
            }
            margin-bottom: 20px;

            &:before {
                content: '';
                position: absolute;
                background-image: url('/images/icons/faq-data.svg');
                width: 60px;
                height: 60px;
                left: 30px;
                top: 30px;
            }

            @include media-breakpoint-up(lg) {
                padding-left: 180px !important;

                &:before {
                    @include v-c;
                    left: 60px;
                }
            }

            .btn-link {
                @include font-size(1.1rem);
                &:after {
                    display: none !important;
                }
            }

            .btn-link,
            .card-body {
                @extend .pl-0;
            }

            .card-body {
                @extend .pt-0;
                p {
                    @extend .col-grey;
                    @include font-size(16);
                    @extend .lh-16;

                    &:last-child {
                        @extend .mb-0;
                    }
                }
            }
        }

        .collapse {
            display: block !important;
        }
    }
}
