
/********* Mobile results layout *************************************************************************************/
/********* Mobile results layout *************************************************************************************/
.results-page-mobile {
    // CLear the solutions bar

    //&:not(.shortlist-open) {
    //    .modal-backdrop {
    //        top: auto;
    //        bottom: 50px;
    //        height: calc(100vh - 50px);
    //    }
    //}

    background-color: $bgGrey;

    .row {
        //@include reset-row-spacing(0.5rem);
    }

    #show_filters {
        padding: 0 15px !important;
        height: $mobileSortbarButtonHeight;
        line-height: $mobileSortbarButtonHeight;

        svg {
            //@include v-c;
            position: static !important;
            width: 10px;
            height: 10px;
            left: 16px;

            path {
                fill: $brand-tertiary-2;
            }
        }
    }


    .postcode {
        input {
            padding-top: 2rem !important;
        }
    }

    .filter-parent {
        padding-top: 1rem;
        padding-bottom: 1rem;
        transform: translate3d(-100%, 0, 0);
        overflow: scroll;
        position: fixed;
        height: calc(100vh - #{$mobile-header-height});
        top: $mobile-header-height;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 2000;
        transition: $transition;

        @include media-breakpoint-up(sm) {
            top: 80px;
            height: calc(100vh - 80px);
        }

        .dropdown-toggle {
            background-color: transparent;
        }
    }

    .result-item-mobile-section-2 {
        * {
            @extend .font-12;
        }
    }

    // Body class when filters are open
    &.filters-open {
        .filter-parent {
            transform: translate3d(0, 0, 0);
        }

        .compare-hospitals-bar {
            max-height: 0;
        }
    }

    .result-item-mobile {
        .item-tags {
            top: 0;
            left: 0;
        }

        .compare {
            top: 0;
            right: 0;
        }


        .result-item-section-2__child {
            justify-content: space-between;
        }
    }

    // Filter form styles
    #resultspage_form {
        .filter-mobile {
            @extend .mb-2;
        }

        label {
            @extend .SofiaPro-SemiBold;
            @extend .font-18;
        }

        .filter-mobile {
            svg {
                right: 0;
            }

            label {
                svg {
                    @extend .help-link;
                    @extend .help-link__inline;
                }
            }
        }

        .filter-parent {
            .dropdown-toggle {
                border-radius: 0 !important;
                border-top: none;
                border-right: none;
                border-left: none;
                @extend .pl-0;
                @extend .pt-0;
                @extend .pb-2;
            }
        }

        .dropdown-menu {
            min-width: initial !important;
            max-width: 100% !important;
        }
    }

    .select-sort-by {
        & + svg {
            @include v-c;
        }

        .dropdown-toggle {
            @include font-size(12);
            border: none !important;
            @extend .pl-2;
            @extend .py-0;
            height: $mobileSortbarButtonHeight;
            line-height: $mobileSortbarButtonHeight;
        }
    }

    .sort-item-location {
        .map-icon {
            width: 9px;
            height: auto;
        }
    }

    .result-item-mobile-section-3 {
        .btn-web-call {
            @include reset-row-spacing(2px);
        }
    }
}
