.results-page {
    background-color: $lighterGrey;

    // Mask when shortlist is open
    &:before {
        pointer-events: none;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1035; // To be just below the open shortlist
        width: 100vw;
        height: 100vh;
        background-color: $modal-backdrop-bg;
        opacity: 0;
        transition: $transition;
    }

    .results {
        min-height: calc(60vh - 220px);
    }
}

.results-page,
.test-page {
    margin-bottom: 49px;

    .filter {
        //display: flex;
        //
        //.filter-left {
        //    //flex-basis: 80.3333%;
        //    width: 80.3333%;
        //}
        //
        //.filter-right {
        //    //flex-basis: 1.6666%;
        //    width: 19.6666%;
        //}
    }


    .filter-section {
        .filter-section-child {
            &:not(:last-child) {
                border-right: 2px solid #d7d7d7;
            }
        }
    }

    // Hide filters on pageload
    #resultspage_form {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1035;

        &.js-is-sticky,
        &.js-is-sticky--change,
        &.js-is-stuck {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        }

        .filter-parent {
            //display: none;

            .dropdown-toggle {
                @include font-size(14);
            }
        }
    }

    .submit-section {
        display: flex;
        justify-content: flex-end;
        //flex-basis: 15%;

        .submit-section-child {
            justify-content: flex-end;
            align-items: flex-end;
        }
    }

    // Shared style for selects on results page

    .select-parent {
        position: relative;
        //width: 100%;

        label {
            line-height: 18px;
            margin-bottom: 6px;
        }

        .black-chevron,
        svg {
            position: absolute;
            width: 14px;
            bottom: 12px;
            right: 14px;
            color: $caretBlack;
            pointer-events: none;
        }

        .select-sort-by {
            & + svg {
                @include v-c;
            }
        }
    }

    .results-page-select,
    .dropdown-toggle {
        padding: 8px 40px 8px 13px;
        background-color: $white;
        color: $darkerGrey;
        @include font-size(14);
    }

    .filter-parent {
        width: $fullWidth;
        background-color: $white;
        padding-top: 23px;
        display: none;
    }

    .postcode-radius,
    .select-proximity {
        display: flex;
    }

    .postcode-radius-child,
    .submit-section-child,
    .filter-section-child {
        position: relative;
        margin-bottom: 20px;
        //display: flex;
        align-items: center;

        #input_postcode {
            width: 100%;
            //padding: 20px 0 18px 16px;
            padding: 8px 40px 8px 13px;

            @include font-size(14);

            @include placeholder {
                font-size: 14px;
                line-height: 1.2;
                color: $darkerGrey;
                font-family: 'SofiaPro-Medium', sans-serif;
            }
        }
    }

    .postcode-radius {
        @include reset-row-spacing(7.5px);

        .postcode-radius-child {
            &:first-child {
                //width: 40%;
            }

            &.radius {
                //width: 60%;
                .col-inner {
                    @include media-breakpoint-up(md) {
                        padding-left: 153px;

                        label {
                            @include v-c;
                            left: 0;
                        }
                    }
                }
            }

            .bootstrap-select {
                & + svg {
                    @include v-c;
                }
            }

            #input_postcode,
            .dropdown-toggle {
                padding: 13px 40px 13px 13px;
            }

            .bootstrap-select + .black-chevron {
                @include v-c;
            }

            .help-link {
                @include v-c;
            }
        }
    }

    .sort-parent {
        background-color: #fff;
    }

    .sort-bar {
        @include media-breakpoint-up(lg) {
            //height: 60px;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-1 {
            width: 33%;
        }

        .section-2 {
            width: 53%;
            transition: $transition;
        }

        .section-3 {
            width: 14%;
        }

        .show-section {
            margin: auto auto auto 0;
        }

        .sort-section {
            .results-page-select {
                width: auto
            }

            .sort-by-label {
                min-width: 60px;
            }
        }
    }

    .sort-page-select, .sort-by {
        width: 200px;
    }

    .sort-label {
        left: 0 !important;
        top: -10px !important;
    }

    .sort-by {
        top: -10px !important;
        position: relative;
    }

    .result-item-parent {
        background-color: #fff;
    }

    .result-item-header,
    .result-item-inner {
        display: flex;
        @include responsive-columns;
    }

    .result-item-header {
        //width: 1180px;
        margin: auto;

        .result-item-section-3 {
            &:before,
            &:after {
                display: none;
            }
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;

            .result-item-header-section-1 {
                //flex: 0 0 33%;
                width: 33%;
            }

            .result-item-header-section-2 {
                //flex: 0 0 53%;
                width: 53%;
            }

            .result-item-header-section-3 {
                //flex: 0 0 14%;
                width: 14%;
                padding: 10px 0 10px 10px;

                .btn-area-lower {
                    border-top: 1px solid #d7d7d7;
                    padding-top: 10px;

                }
            }
        }
    }

    .result-item {
        margin-top: 7px;
        &:not(:first-child) {
        }
    }

    .result-item-inner {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;

        .hospital-image {
            width: $hospital-image-width;
            @include aspect-ratio(134px, 123px);
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;

            .result-item-section-1 {
                //flex: 1 0 33%;
                width: 33%;

                > * {
                    position: relative;
                }

                .hospital-image {
                    flex: 0 0 $hospital-image-width;
                }

                .hospital-details {
                    padding: 8px;

                    .btn-more-info {
                        bottom: 0;
                        left: 8px;
                    }
                }
            }

            .result-item-section-2 {
                //flex: 1 0 53%;
                width: 53%;
            }

            .result-item-section-3 {
                //flex: 1 0 14%;
                width: 14%;
                padding: 10px;
                @include pseudo-border($borderGrey);

                .btn-area-lower {
                    border-top: 1px solid #d7d7d7;
                    padding-top: 10px;

                }
            }
        }
    }


    .result-item-menu {
        display: flex;
        width: 100%;
        margin-bottom: 0;

        li {
            padding: 16px 0;
            position: relative;
            list-style: none;
            @include flex-center;
            justify-content: flex-start;
            flex-direction: column;
            text-align: center;
            flex: 1;

            span.sort-arrow {
                position: absolute;
                left: 0;
                bottom: 10px;
                display: inline-block;
                @include icon-bg-center(15%);
                width: 100%;
                height: 20px;
                background-image: url('../images/icons/chevron-down.svg');
                cursor: pointer;
            }

            span.sort-arrow.asc {
                transform: rotateX(0deg);
            }

            span.sort-arrow.desc {
                transform: rotateX(180deg);
            }

            p {
                @extend .SofiaPro-Medium;
                white-space: nowrap;
            }
        }
    }

    .result-item-section-1,
    .result-item-section-2,
    .result-item-section-3 {
        display: flex;
        @include responsive-columns;
    }

    .result-item-section-2 {
    }

    .result-item-section-3 {
        justify-content: center;
        flex-direction: column;
    }

    .result-item-section-2__child {
        flex: 1 auto;
        @include media-breakpoint-up(md) {
            flex: 1;
        }
        @include flex-center;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;

        span {
            @include font-size(14);
            display: inline-block;
            margin-top: 10px;
            line-height: 1;
            width: 100%; // IE bug
        }

        p {
            @include font-size(16px);
            margin-bottom: 0;
        }
    }


    .sort-item-title {
        font-size: 16px;
        line-height: 19.2px;
        margin-bottom: 4px;
    }

    .sort-item-location {
        color: #040202;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 2px;
    }

    .find-link {
        @extend .SofiaPro-Bold;
        cursor: pointer;

        &:hover,
        &:active {
            color: $turq;
            text-decoration: none;
        }
    }

    .nhs-hospital,
    .private-hospital {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .nhs-hospital {
        //border-bottom: solid 30px $darkBlue;
        //border-right: solid 30px $darkBlue;
        //border-left: solid 30px transparent;
        //border-top: solid 30px transparent;
    }

    .private-hospital {
        //border-bottom: solid 30px $hotpink;
        //border-right: solid 30px $hotpink;
        //border-left: solid 30px transparent;
        //border-top: solid 30px transparent;
    }

    .nhs-hospital,
    .private-hospital {
        text-align: center;

        p {
            position: relative;
            color: #ffffff;
            //transform: rotate(135deg);
            //left: 20px;
            //top: -12px;
            @include font-size(14);
            line-height: 1;
        }
    }
}

.hospital-details {
    .btn-more-info {
        width: 92px;
        height: 23px;
        line-height: 23px;
        border-radius: 3px 3px 0 0;
        transition: 0.3s all ease;

        //&:before {
        //    content: 'More info' !important;
        //    @include v-c;
        //}

        svg {
            transition: 0.1s all ease;
        }

        &.open {
            color: $white;
            background: linear-gradient(90deg, #000, #000, #00bcb4, #000);
            background-size: 300% 100%;

            //&:before {
            //    content: 'Close info' !important;
            //}

            //&:after {
            //    content: 'Close info';
            //}

            i, svg {
                transform: translateY(-50%) rotate3d(0, 0, 1, 45deg) !important;

            }
        }
    }
}

.js-is-sticky {
    //padding-top: 85.6px;
}


.compare {
    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}

// Ratings in popover of NHS user rating column
.nhs-user-ratings {
    li {
        text-align: left;
        display: flex;
        justify-content: space-between;
        line-height: 1.7;

        span {
            margin-left: 50px;
        }
    }
}

// CQC popover
.cqc-left {
    border-radius: 5px 0 0 5px;
}

.cqc-table {
    .cqc-row {
        line-height: 30px;
        min-width: 200px;

        &:not(:last-child) {
            border-bottom: 1px solid $borderGrey;
        }

    }

    .cqc-colour {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 10px;

        svg {
            width: 100%;
        }
    }

    .bg-cqc-star {
        //background: url('../images/icons/star.svg');
        background: url('../images/icons/star-green.svg');
        @include icon-bg-center(cover);
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 10px;
    }
}

// Compare shortlist area open
.shortlist-open {
    overflow: hidden; // Stop body scrolling

    .popover:not(.popover-comparison) {
        display: none !important;
    }

    // Hide the special offer tabs
    .solutions-menu {
        opacity: 0;
        visibility: hidden;
    }

    // Fade in the mask when shortlist is open
    &:before {
        opacity: $modal-backdrop-opacity;
        pointer-events: initial;
    }

    .compare-arrow {
        transform: rotate3d(0, 0, 1, 180deg);
    }
}

// Body class when filters are open
.filters-open {
    .section-2 {
        opacity: 0;
        pointer-events: none;
    }
}
