.your-rights-intro {
    background-image: url('/images/Layer_16.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: $greyBorder;

}
