//=========================HEALTH CHOICE SECTION===========================
//.your-rights-page {
//    section:not(:first-child) {
//        padding: 40px 0;
//    }
//}


.your-rights-intro {
    border-bottom: $greyBorder;
}

.your-rights-act {
    @include media-breakpoint-up(md) {
        background-image: url('/images/Layer_16.png');
    }
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right 75px;
    border-bottom: $greyBorder;
}

.your-rights-what {
    background-image: url('/images/banner-flipped.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    //@include mask($brand-primary-1, 0.06)
    @include mask($bgLightGrey, 1)
}
