.filterParent{
  width: $fullWidth;
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.filter{
  width: $fullWidth / 1.2;
  margin: $centerOnPage;
  height: 187px;


}

.postProx, .selectProx{
  @include flex;

}

.postProxChild{
  @include uniformAlignment;
  position: $relative;
}

.searchPageSelect{
  width: 70%;
  margin-left: 0 !important;
}

.inputClass{
  margin-left: 0 !important;
}

.blackChevron{
  color: $black;
  left: -24px;
}

.resultsLabel{
  padding-bottom: 10px;
  left:0 !important;
}

.sortParent{
  width: $fullWidth;
  background-color: $lightergrey;

}

.sort{
  width: $fullWidth / 1.2;
  margin: $centerOnPage;
}

.sortBar{
  height: 50px;
  @include flex;
}

.showSection, .sortSection{
  @include uniformAlignment;
  padding-top: 15px;
  padding-bottom: 7px;
}

.sortPageSelect, .sortBy{
  width: 200px;
}

.sortLabel{
  left: 0 !important;
  top: -10px !important;
}

.sortBy{
  top: -10px !important;
  position: relative;
}

.sortCategoriesParent{
  background: linear-gradient(to bottom, rgba(0, 206, 205, 0.72), rgba(0, 206, 205, 0.93));

}

.sortCategoriesHeader, .sortCategories{
  width: $fullWidth / 1.2;
  margin: $centerOnPage;
  @include flex;
}
.sortCategoriesHeader{
  height: 80px;
}

.sortCatSection1{
  flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
}

.sortCatSection2{
  flex: 0 0 70%;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;

}

.sortCatSection3{
  flex: 0 0 10%;
  -webkit-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
}


.sortCatMenu{
  @include flex;
  margin-top: 30px;
  li{
    list-style:none;
    width: 200px;
    @include uniformAlignment;
    a{
      color: $white;
      text-align:center;

    }
  }
}

.sortCategoriesResults{
  background: $white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sortCatSection1, .sortCatSection2{
  @include flex;
}

.sortCatSection2Child{
  @include uniformAlignment;
  width: 200px;
  text-align: center;
  font-weight: 600;
}

.sortCatItem{
  padding-right: 5%;
  position:$relative;
}

.sortItemTitle, .sortItemLocation{
  font-size: .9em;
  line-height: 15px;
}

.findLink{
  position:relative;
  font-size: .9em;
  top: -20px;
}

.NHSHospital, .privateHospital{
  position:$absolute;
  top:0;
  width: 60px;
  height: 60px;
  transform: rotate(180deg);
}

.NHSHospital{

  border-bottom: solid 30px $darkBlue;
  border-right: solid 30px $darkBlue;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;

}

.privateHospital{
  border-bottom: solid 30px $hotpink;
  border-right: solid 30px $hotpink;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
}

.NHSHospital, .privateHospital{
  p {
    transform: rotate(130deg);
    position: relative;
    color: #ffffff;
    left: 20px;
    top: -12px;
    font-size: .6em;
    line-height: 13px;
  }
}

