/node_modules
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
/.idea/
/public/css/
/public/images/
/public/fonts/
/public/js/
/public/video/
webpack.mix.js
