@keyframes bg-reverse {
    50% {
        background-position: 0;
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

.popover-open {
    animation-name: bg-reverse;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
