body, * {
    //letter-spacing: $letter-spacing;
}

.cookie-page,
.privacy-page,
.terms-and-conditions-page,
.faqs-page,
//.your-rights-page,
//.about-us-page,
.blog-page {
    main {
        padding-top: 40px;
    }
}

main {
    section:last-child {
        padding-bottom: 100px !important;
    }
}

// remove focus ring
* {
    &:focus {
        //outline: none !important;
    }
}

a {
    color: #1b70f3;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

ul.bullets {
    li {
        list-style: none;
        @include font-size(16);
        font-weight: 400;
        position: relative;
        padding-left: 30px;
        margin-bottom: 6px;

        &:before {
            content: url("/images/icons/circle-check.svg");
            width: 20px;
            height: 20px;
            @include v-c;
            left: 0;
        }
    }
}

ul.blue-dot {
    //padding: 0 0 0 50px;
    margin-bottom: 30px;

    > li {
        //@include font-style(false, 14px, false, false, 24px, -1px);
        //margin: 0 0 12px 0;
        position: relative;
        padding: 0 0 0 30px;
        text-align: left;

        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 11px;
            height: 11px;
            background-color: $turq;
            border-radius: 50%;
        }
    }

    &.blue-dot_small {

        li {
            color: $black;
            margin-bottom: 5px;

            &:before {
                width: 9px;
                height: 9px;
                background-color: $turq;
            }
        }
    }
}

ul.blue-disc {
    //padding: 0 0 0 50px;
    margin: 30px 0 50px 0;

    > li {
        //@include font-style(false, 20px, false, false, 24px, -1px);
        @include font-size(20);
        margin: 0 0 22px 0;
        position: relative;
        padding: 0 0 0 40px;

        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 11px;
            height: 11px;
            background-color: $blue;
            border-radius: 50%;
        }
    }
}

input[type=submit] {
    padding: 0;
    border: none;
    background: none;
}

// Larger input/select
input.big,
select.big {
    font-size: 18px;
    font-weight: 500;
    //height: 60px;
    //line-height: 60px;
    padding: 16px 45px 16px 16px;
}

// Custom container widths
.container-980 {
    max-width: 980px;
}

.container-1028 {
    max-width: 1028px;
}

.bg-turq {
    background-color: $turq;
}

.bg-blue {
    background-color: $blue;
}

.bg-violet {
    background-color: $violet;
}

.bg-hanblue {
    background-color: $hanblue;
}

.bg-green {
    background-color: $green;
}

.bg-darkgreen {
    background-color: #21afae;
}

.bg-pink {
    background-color: $pink;
}

.bg-privateblue {
    background-color: $privateBlue;
}

.bg-black {
    background-color: $black;
}

.bg-grey {
    background-color: $grey;
}

.bg-white {
    background-color: $white;
}

.bg-greylight {
    background-color: $greylightbg;
}

.bg-blue-grad {
     background-image: linear-gradient(248deg, #7dacf4 0%, #216ee2 100%);
 }

// CQC rating colours
.bg-outstanding {
    //background: $goldStar;
    background-color: $cqcGreen;
}

.bg-good {
    background-color: $cqcGreen;
}

.bg-requires-improvement {
    background-color: $cqcAmber;
}

.bg-inadequate {
    background-color: $cqcRed;
}

.bg-not-yet-rated {
    background-color: $turq;
}

.col-turq {
    color: $turq;
}

.col-blue {
    color: $blue;
}

.col-violet {
    color: $violet;
}

.col-hanblue {
    color: $hanblue;
}

.col-green {
    color: $green;
}

.col-pink {
    color: $pink;
}

.col-black {
    color: $black;
}

.col-grey {
    color: $grey;
}

.col-white {
    color: $white;
}

.col-greylight {
    color: $greylight;
}

.col-greydarkest {
    color: $darkestGrey;
}

.col-caretBlack {
    color: $caretBlack;
}

// In text links

.text-link {
    cursor: pointer;
    color: inherit;
    transition: $transition;
    appearance: none;
    background-color: transparent;
    border: none;
    //text-decoration: underline !important;

    &:hover {
        color: $turq;
    }
}

// Vertical center position absolute
.v-c {
    @include v-c;
}

// Prevent bootstrap adding opacity hover to close buttons
.close {
    opacity: 1 !important;
}

// Video sections
.video-wrapper {
    position: relative;
    @include aspect-ratio(497px, 349px);
    overflow: hidden;

    video {
        width: 140% !important;
    }

    .player-button {
        @include v-h-c;
        cursor: pointer;
        transition: $transition;

        &:hover {
            opacity: 0.8;
        }
    }

}


// Cookie popup styling
.cc-theme-hc-cookie {
    border: 3px solid $turq;
    border-radius: 10px;
    @extend .SofiaPro-Regular;

    .cc-btn {
        @extend .btn;
        @extend .btn-m;
        @extend .btn-grad;
        @extend .btn-turq;

        text-align: center !important;
        display: inline-block;
        margin: 0 auto;
        flex: initial !important;
        cursor: pointer;
    }
}

// Transition for SVG paths
path {
    transition: $transition;
}


//=========================HEALTH CHOICE SECTION===========================
.your-rights-page {
    section:not(:first-child) {
        padding: 40px 0;
    }
}

.choose-health-parent {
    margin: 60px auto;

    .choose-health {
        height: 410px;
        background: url('../images/placeholder.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 20px;
        position: relative;
        @include mask($lightestGrey, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 132px;
        @include font-size(28);
        @extend .SofiaPro-SemiBold;

        &:before {
            transition: 0.3s opacity ease-in;
        }

        &.fade-in {
            &:before {
                opacity: 0.38;
            }
        }

        .your-rights-page & {
            background: url('../images/ladycoffeesofa.jpg');
            background-position: 40% 60%;
        }

        .your-rights-page & {
            margin: 0;
        }
    }

    .choose-health-text {
        color: $white;
        text-align: center;
        width: 100%;
        max-width: 912px;
        position: relative;
        z-index: 5;

        .btn {
            svg {
                @include v-c;
                right: 30px;
                width: 9px;
                height: 16px;
            }
        }
    }
}

//=========================END HEALTH CHOICE SECTION====================

.stretched-link {
    appearance: none;
    background-color: transparent;
    border: none;
}

// Grey borders
.grey-border-bottom {
    border-bottom: 1px solid $borderGrey;
}

.grey-border-top {
    border-top: 1px solid $borderGrey;
}

.d-table-cell {
    @extend .p-2;
}

.green-tick {
    position: relative;
    padding: 0 0 0 30px;
    text-align: left;

    &:before {
        content: '';
        background-image: url('/images/icons/tick-green.svg');
        @include icon-bg-center(100%);
        @include v-c;
        left: 0;
        width: $green-tick-size;
        height: $green-tick-size;
    }
}

// Signature font
.signature {
    font-family: "Brown Pen", cursive;
    @include font-size(28);
    font-weight: bold;
}

.border {
    &-right {
        &.border-green {
            border-right: 2px solid $turq !important;
        }
    }
}
