//* {
//    font-family: 'Poppins', sans-serif !important;
//}

body {
    // Mask when shortlist is open
    &:before {
        pointer-events: none;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $modal-backdrop-bg;
        opacity: 0;
        transition: $transition;
    }
}

.cursor-pointer {
    cursor: pointer;
}

// ul wihtout bullets
.no-bull {
    li {
        @extend .mb-4;
    }
}

.menu-open,
.shortlist-open {
    &.results-page {
        overflow: hidden; // Stop body scrolling

        #resultspage_form {
            z-index: initial;
            //position: static !important;
        }

        // Fade in the mask when shortlist is open
        &:before {
            opacity: $modal-backdrop-opacity;
            pointer-events: initial;
        }
    }
}

.menu-open {
    // Fade in the mask when shortlist is open
    &:before {
        z-index: 1045;
    }
}

.shortlist-open {
    &.results-page {
        // Fade in the mask when shortlist is open
        &:before {
            z-index: 1035;
        }
    }
}

a:hover {
    color: $blue;
}

// SVG colours
.fill-turq path {
    fill: $brand-primary-1;
}

.fill-white,
.fill-white path {
    fill: #fff;
}

.fill-turq path {
    fill: $brand-primary-1;
}

.fill-black path {
    fill: $brand-tertiary-1;
}

.stroke-turq path {
    stroke: $brand-primary-1;
}

//
//.results-page.results-page-mobile {
//    // Fade in the mask when shortlist is open
//    &:before {
//        pointer-events: initial;
//        top: $mobile-header-height;
//        height: calc(100vh - #{$mobile-header-height});
//    }
//}

// Reveal the menu
.menu-open {
    overflow: hidden;

    &:before {
        opacity: 0.5 !important;
    }

    .main-nav {
        transform: translate3d(0, 0, 0);

        .main-menu {
            overflow-y: scroll;
            overflow-x: hidden;
            height: calc(100vh - #{$mobile-header-height});
        }
    }
}

// Body class when filters are open
.filters-open {
    overflow: hidden;

    //.filter-parent {
    //    display: block !important;
    //}

    &:before {
        opacity: 0.5 !important;
        z-index: 10;
    }

    .section-2 {
        opacity: 0;
        pointer-events: none;
    }

    .compare-hospitals-bar {
        z-index: 5;
    }
}

// Compare shortlist area open
.shortlist-open {
    .popover:not(.popover-comparison) {
        display: none !important;
    }

    // Hide the special offer tabs
    .solutions-menu,
    #hc_modal_mobile_special_offer_tab_trigger {
        opacity: 0;
        visibility: hidden;
    }

    .compare-arrow {
        transform: rotate3d(0, 0, 1, 180deg);
    }
}

main {
    section {
        padding: 45px 0;
        @include media-breakpoint-up(lg) {
            padding: 75px 0;
        }
    }

    section:last-child {
        padding-bottom: 100px !important;
    }
}

// remove focus ring
* {
    &:focus {
        //outline: none !important;
    }
}

a {
    color: #1b70f3;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

ul.bullets {
    li {
        list-style: none;
        @include font-size(16);
        font-weight: 400;
        position: relative;
        padding-left: 30px;
        margin-bottom: 6px;

        &:before {
            content: url("/images/icons/circle-check.svg");
            width: 20px;
            height: 20px;
            @include v-c;
            left: 0;
        }
    }
}

ul.blue-dot {
    //padding: 0 0 0 50px;
    margin-bottom: 30px;

    > li {
        //@include font-style(false, 14px, false, false, 24px, -1px);
        //margin: 0 0 12px 0;
        position: relative;
        padding: 0 0 0 30px;
        text-align: left;
        @extend .p-secondary;

        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 11px;
            height: 11px;
            background-color: $brand-primary-1;
            border-radius: 50%;
        }
    }

    &.blue-dot_small {

        li {
            color: $black;
            margin-bottom: 5px;

            &:before {
                width: 5px;
                height: 5px;
                background-color: $brand-primary-1;
            }
        }
    }
}

ul.blue-disc {
    //padding: 0 0 0 50px;
    margin: 30px 0 50px 0;

    > li {
        //@include font-style(false, 20px, false, false, 24px, -1px);
        @include font-size(20);
        margin: 0 0 22px 0;
        position: relative;
        padding: 0 0 0 40px;

        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 11px;
            height: 11px;
            background-color: $blue;
            border-radius: 50%;
        }
    }
}

input[type=submit] {
    padding: 0;
    border: none;
    background: none;
}

// Larger input/select
input.big,
select.big {
    @include font-size(16);
    font-weight: 500;
    //height: 60px;
    //line-height: 60px;
    padding: 16px 45px 16px 16px;
}

// Custom container widths
.container-980 {
    max-width: 980px;
}

.container-1028 {
    max-width: 1028px;
}

.bg-turq {
    background-color: $brand-primary-1;
}

.bg-blue {
    background-color: $blue;
}

.bg-violet {
    background-color: $violet;
}

.bg-purple {
    background-color: $purple;
}

.bg-green {
    background-color: $green;
}

.bg-darkgreen {
    background-color: #21afae;
}

.bg-pink {
    background-color: $pink;
}

.bg-privateblue {
    background-color: $privateBlue;
}

.bg-black {
    background-color: $black;
}

//.bg-grey {
//    background-color: $grey;
//}

.bg-grey {
    background-color: $bgGrey !important;
}

.bg-white {
    background-color: $white;
}

.bg-greylight {
    background-color: $bgGrey;
}

.bg-blue-grad {
    background-image: linear-gradient(248deg, #7dacf4 0%, #216ee2 100%);
}

// CQC rating colours
.bg-outstanding {
    //background: $goldStar;
    background-color: $cqcGreen;
}

.bg-good {
    background-color: $cqcGreen;
}

.bg-requires-improvement {
    background-color: $cqcAmber;
}

.bg-inadequate {
    background-color: $cqcRed;
}

.bg-not-yet-rated {
    background-color: $brand-primary-1;
}

.bg-private {
    background-color: $privateBlue;
}

.bg-nhs {
    background-color: $nhsBlue;
}

.bg-brand-primary-1 {
    background-color: $brand-primary-1;
}

// Font colours
.col-brand-primary-1 {
    color: $brand-primary-1;
}

.col-blue {
    color: $blue;
}

.col-violet {
    color: $violet;
}

.col-green {
    color: $green;
}

.col-pink {
    color: $pink;
}

.col-black {
    color: $black;
}

.col-grey {
    color: $textGrey !important;
}

.col-white {
    color: $white;
}

.col-greylight {
    color: $textGrey;
}

.col-greydarkest {
    color: $textGrey;
}

.col-caretBlack {
    color: $caretBlack;
}

.col-outstanding {
    //background: $goldStar;
    color: $cqcGreen;
}

.col-good {
    color: $cqcGreen;
}

.col-requires-improvement {
    color: $cqcAmber;
}

.col-inadequate {
    color: $cqcRed;
}

// In text links

.text-link {
    cursor: pointer;
    color: inherit;
    transition: $transition;
    appearance: none;
    background-color: transparent;
    border: none;
    //text-decoration: underline !important;

    &:hover {
        color: $brand-primary-1;
    }
}

// Vertical center position absolute
.v-c {
    @include v-c;
}

// Prevent bootstrap adding opacity hover to close buttons
.close {
    opacity: 1 !important;
}

// Video sections
.video-wrapper {
    position: relative;
    @include aspect-ratio(497px, 349px);
    overflow: hidden;

    video {
        width: 140% !important;
    }

    .player-button {
        @include v-h-c;
        cursor: pointer;
        transition: $transition;

        &:hover {
            opacity: 0.8;
        }
    }

}


// Cookie popup styling
//.cc-grower {
//    max-height: 100% !important;
//}

.cc-theme-hc-cookie {
    @extend .SofiaPro-Regular;
    @extend .p-3;

    @media screen and (max-width: 576px) {

        /* Cookies */
        .cc-banner {
            display: inline-block !important;
        }

        .cc-message {
            margin-right: 0;
        }

        .cc-btn {
            padding: 13px 36px !important;
            @include font-size(1rem, true);
            width: 100%;
            margin-top: 10px;
        }

        /* END Cookies */
    }


    .cc-window.cc-banner {
        padding: 1em 1.8em;
        width: 100%;
        flex-direction: row;
    }

    .cc-link {
        color: $brand-primary-1 !important;
    }

    .cc-btn {
        @extend .btn;
        //@extend .btn-
        border-radius: 3px;
        //padding: 22px 36px !important;
        @extend .btn-brand-primary-1;
        @extend .btn-squared;
        @extend .btn-squared_slim;
        //@extend .px-5;
        @include font-size(14px, true);
        text-align: center !important;
        display: inline-block;
        flex: initial !important;
        cursor: pointer;
        line-height: 1.2;

        &:hover {
            background-color: $blue !important;
        }
    }
}

// Transition for SVG paths
path {
    transition: $transition;
}


//=========================END HEALTH CHOICE SECTION====================

.stretched-link {
    appearance: none;
    background-color: transparent;
    border: none;
}

// Grey borders
.grey-border-bottom {
    border-bottom: 1px solid $borderGrey;
}

.grey-border-top {
    border-top: 1px solid $borderGrey;
}

.d-table-cell {
    @extend .p-2;
}

// Ticks/dashes in the results ratings
.dash-or-tick {
    width: 16px;

    @include media-breakpoint-up(md) {
        width: 26px;
    }
}

.green-tick {
    position: relative;
    padding: 0 0 0 15px;
    text-align: left;

    &:before {
        content: '';
        background-image: url('/images/icons/icon-tick.svg');
        @include icon-bg-center(100%);
        position: relative;
        display: inline-block;
        top: 2px;
        margin-right: 6px;
        //top: $green-tick-size * 0.4;
        left: 0;
        width: $green-tick-size;
        height: $green-tick-size;
    }
}

.green-tick-large {
    &:before {
        content: '';
        background-image: url('/images/icons/icon-tick.svg');
        @include icon-bg-center(100%);
        position: absolute;
        top: -3px !important;
        left: 0;
        width: 12px;
        height: 12px;
    }
}

.tick-with-title {
    padding-left: 0 !important;
    @include font-size(1.1rem);
    color: #000;
    @extend .SofiaPro-Medium;

    &:before {
        content: "";
        background-image: url(../images/icons/icon-tick.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        display: inline-block;
        top: 4px;
        margin-right: 14px;
        left: 0;
        width: 22px;
        height: 22px;
    }
}

.pink-tick {
    position: relative;
    padding: 0 0 0 25px;
    text-align: left;
    margin-bottom: 10px;

    &:before {
        content: '';
        background-image: url('/images/icons/icon-pink-tick.svg');
        @include icon-bg-center(100%);
        //position: absolute;
        //top: $pink-tick-size * 0.4;
        //left: 0;
        @include v-c;
        left: 0;
        width: $pink-tick-size;
        height: $pink-tick-size;
    }
}

// Signature font
.signature {
    font-family: "Brown Pen", cursive;
    @include font-size(28);
}

.border {
    &-right {
        &.border-green {
            border-right: 0 !important;
            border-bottom: 2px solid $brand-primary-1;

            @include media-breakpoint-up(md) {
                border-right: 2px solid $brand-primary-1 !important;
                border-bottom: 0;
            }
        }
    }
}

// Padding
.p-30 {
    padding: 30px;
}

.p-y-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 30px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

// line-height
.lh-14 {
    line-height: 1.4;
}

.lh-16 {
    line-height: 1.6;
}

// Carousels on mobile
.carousel-mobile {
    @include media-breakpoint-up(md) {
        .carousel-inner {
            overflow-y: visible;
        }

        .carousel-item {
            display: block;
            margin-right: auto;
        }
    }
}

// From old hc-content
ol.alpha {
    counter-reset: counter;

    li {
        position: relative;
        counter-increment: counter;
        padding-left: 40px;
        text-align: left;

        &:before {
            //content: '(' counter(counter, lower-alpha) ')';
            content: counter(counter, upper-alpha) '.';
            position: absolute;
            top: 0;
            left: 0;
            color: $brand-primary-1;
            @extend .SofiaPro-Regular;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //@extend .font-semibold;
}

h1,
.h1 {
    @include font-size(40);
    //@include font-style('SofiaPro-Black', 40px, false, false, 45px, -2.25px);
    margin: 0 0 25px 0;
}

h2 {
    @include font-size(28);
    //@include font-style('SofiaPro-Bold', 28px, false, false, 35px, -2.25px);
    margin: 0 0 25px 0;
}

.section-title {
    @include font-size(1.8rem);
    margin-bottom: 15px;
    font-weight: 500;
}

.page-subtitle {
    @include font-size(1.2rem);
    line-height: 1.6;
    //@include font-style('SofiaPro-SemiBold', 28px, false, false, 35px, -1.45px);
}

h3 {
    font-size: 24px;
    margin: 0 0 24px 0;
}

h4 {
    font-size: 24px;
    color: $brand-primary-1;
    margin: 0 0 24px 0;
}

h5 {
    font-size: 22px;
    //color: $pink;
    margin: 0 0 22px 0;
}

h6 {
    font-size: 22px;
    margin: 0 0 22px 0;
}

.p-intro {
    @include font-size(1.2rem);
    line-height: 1.6;
    //@extend .SofiaPro-Medium;
}

.p-secondary {
    @include font-size(1rem);
    line-height: 1.6;
    //@extend .SofiaPro-Medium;
}

.image-wrapper {
    img {
        width: 100%;
    }
}

// Tooltip trigger on mobile
.more-info-please {
    width: 15px;
    height: 15px;
}

// SVG classes
.circle-check {
    max-width: 20px;
    max-height: 20px;
}

// Animations

.heartbeat {
    transform-origin: 50% 50%;
    animation: heartBeat .5s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}

.shake {
    transform-origin: 50% 50%;
    animation: shake .8s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.pulse {
    transform-origin: 50% 50%;
    animation: pulse .5s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}

// Icons
.star-icon {
    width: 16px;
    height: 15px;
}

.map-icon {
    width: 10px;
    height: 15px;
    margin-right: 10px;
    position: static !important;
}

// Pulse effect when highlighting page elements
.dr-highlight {
    transform-origin: 50% 50%;
    //animation: bounce .8s ease-in-out;
    //animation: wobble .5s ease-in-out;
    //animation: shake .8s ease-in-out;
    //animation: flash .8s ease-in-out;
    animation: pulse .5s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}

#search_form {
    .dropdown-menu {
        width: 100%;
        transform: none;
    }
}

.home-page {
    #submit_search {
        padding: 17px 36px;
    }
}

.modal-mobile-search {
    .svg-wrapper {
        background-image: url('/images/icons/heart-line-turq.svg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 89% top;
        height: 80px;
        margin: 0 -1rem;
    }
}

.section-space {
    padding: 75px 0 !important;
}

// Carousel indicators
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;

    &:not(.active) {
        background-color: grey;
    }
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -30px !important;
    left: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    z-index: 99;
}



//fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 2px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: $bgGrey;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
/***** https://codepen.io/jamesbarnett/pen/vlpkh *****/


.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: $brand-secondary-5;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: $brand-secondary-5;  }


// Hospital type tag
.hospital-type {
    top: 0;
    left: 0;
    bottom: auto;
    width: auto;

    p {
        height: 30px;
        line-height: 30px;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 5;
        left: 100%;
        top: 0;
        width: 30px;
        height: 30px;
    }

    &.nhs-hospital:after {
        border-bottom: solid 15px transparent;
        border-right: solid 15px transparent;
        border-left: solid 15px $nhsBlue;
        border-top: solid 15px $nhsBlue;
    }

    &.private-hospital:after {
        border-bottom: solid 15px transparent;
        border-right: solid 15px transparent;
        border-left: solid 15px $privateBlue;
        border-top: solid 15px $privateBlue;
    }
}


.nhs-hospital,
.private-hospital {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    p {
        width: 100%;
        position: relative;
        color: #ffffff;
        height: 30px;
        line-height: 30px;
        font-size: 0.75rem !important;
        text-transform: uppercase;
        padding: 0 0.5rem;

        &:after {
            content: "";
            position: absolute;
            z-index: 5;
            left: 100%;
            top: 0;
            width: 30px;
            height: 30px;
        }
    }
}

.results-page-desktop .nhs-hospital,
.results-page-desktop .private-hospital,
.test-page .nhs-hospital,
.test-page .private-hospital {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    border-top-left-radius: 5px;
    padding: 0 !important;
}

.results-page-desktop .nhs-hospital p:after {
    border-bottom: solid 15px transparent;
    border-right: solid 15px transparent;
    border-left: solid 15px $nhsBlue;
    border-top: solid 15px $nhsBlue;
    content: ''
}

.results-page-desktop .private-hospital p:after {
    border-bottom: solid 15px transparent;
    border-right: solid 15px transparent;
    border-left: solid 15px $privateBlue;
    border-top: solid 15px $privateBlue;
    content: ''
}

// Force accordions open for content editing purposes
//.collapse {
//    display: block !important;
//}
