.SofiaPro-UltraLightitalic {
    font-family: SofiaPro-UltraLightitalic;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Bold {
    font-family: SofiaPro-Bold;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Bolditalic {
    font-family: SofiaPro-Bolditalic;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-ExtraLight {
    font-family: SofiaPro-ExtraLight;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Blackitalic {
    font-family: SofiaPro-Blackitalic;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Black {
    font-family: SofiaPro-Black;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Light {
    font-family: SofiaPro-Light;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Medium {
    font-family: SofiaPro-Medium;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Lightitalic {
    font-family: SofiaPro-Lightitalic;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-ExtraLightitalic {
    font-family: SofiaPro-ExtraLightitalic;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Regular {
    font-family: SofiaPro-Regular;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Mediumitalic {
    font-family: SofiaPro-Mediumitalic;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-SemiBold {
    font-family: SofiaPro-SemiBold;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-Regularitalic {
    font-family: SofiaPro-Regularitalic;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-UltraLight {
    font-family: SofiaPro-UltraLight;
    font-weight: normal;
    font-style: normal;
}

.SofiaPro-SemiBolditalic {
    font-family: SofiaPro-SemiBolditalic;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown Pen';
    src: url('../fonts/webfonts/fontbrownpen.woff2') format('woff2'),
    url('../fonts/webfonts/fontbrownpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-semibold {
    font-family: SofiaPro-SemiBold, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-12 {
    @include font-size(12, true);
}

.font-14 {
    @include font-size(14, true);
}

.font-16 {
    @include font-size(16, true);
}

.font-18 {
    @include font-size(18, true);
}

.font-20 {
    @include font-size(20, true);
}

.font-22 {
    @include font-size(22, true);
}

.font-24 {
    @include font-size(24, true);
}

.font-28 {
    @include font-size(28, true);
}

.font-32 {
    @include font-size(32, true);
}

.font-36 {
    @include font-size(36, true);
}
