// Transition
$transition: 0.3s all ease;

// Fonts
$headings-font-family: 'SofiaPro-Regular', sans-serif;
$font-family-sans-serif: 'SofiaPro-Regular', sans-serif;
$headings-font-weight: normal; // font is bold, so normal is standard bold
$font-size-base: 14;
//$font-size-base: 0.9rem;

// Line-height
$line-height-base: 1.2;
//$line-height-lg: 1;
//$line-height-sm: 1;

// Letter spacing
$letter-spacing: 0em;

// Borders
$border-radius: 3px;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
);

// 2020 new brand colours. Old turquoise = #00cecd
// Primary colours
$brand-primary-1: #037098; // trunkie
$trunkie: $brand-primary-1;
$brand-primary-2: #3e92cc; // sky blue
$brand-primary-3: #00707c; // greeny blue
$brand-primary-4: #18435a; // navy ish blue
$brand-primary-5: #037098; // lilac
$brand-primary-6: #de026d; // hot pink
$brand-primary-7: #0d69f2; // original blue
$blue: $brand-primary-7;   // to override BS default blue

// Secondary colours
$brand-secondary-1: #00cfcc; // cyan
$brand-secondary-2: #073766; // navyish blue
$brand-secondary-3: #5e15d1; // purple
$brand-secondary-4: #368632; // green
$brand-secondary-5: #efa00b; // amber
$brand-secondary-6: #d93912; // burnt orange
$brand-secondary-7: #b50000; // red

// Tertiary (greys)
$brand-tertiary-1: #1b1b1b;
$brand-tertiary-2: #757575; // col-grey text
$brand-tertiary-3: #ececec;

// Colors
$enable-gradients: true;
$purple: #9561e2;

$violet: #8e00fe;

$privateBlue: $brand-primary-4;
$nhsBlue: $brand-primary-7;
$pink: $brand-primary-6;
$goldStar: #FAC917;

//Main Template colours
$footerBackgroundColour: #363636;
$caretBlack: #040202;
$header-link-hover-colour: darken($brand-primary-1, 10%);

$textGrey: $brand-tertiary-2;
$textDarkGrey: #1d1d1d;
$bgGrey: $brand-tertiary-3;
$bgLightGrey: #F7F7F7;
$helplinkRed: #de026d;
// End of snap design variables

// CQC RAG rating colours
$cqcGreen: $brand-secondary-4;
$cqcAmber: $brand-secondary-5;
$cqcRed: $brand-secondary-7;

// Borders
$borderGrey: #ededed;
$greyBorder: 1px solid $borderGrey;


// Body
$body-bg: #fff;
$body-color: #1b1b1b;

// ************** BS overrides ****************** //
$btn-border-radius: 5px;
$btn-transition: $transition;
$btn-border-width: 0;
$btn-block-spacing-y: 0;

// Popovers
//$popover-border-width: 0;
$popover-body-padding-y: 15px;
$popover-body-padding-x: 15px;
$popover-arrow-width: 12px;
$popover-arrow-height: 9px;
$popover-arrow-outer-color: transparent;
$popover-arrow-color: #fff;
$popover-max-width: 500px;

// Modal
$modal-inner-padding: 0;
$modal-content-border-radius: $border-radius;
$modal-content-border-width: 0;
$modal-dialog-margin: 1rem; // Spacing around modal - stop it hitting edge of browser
$zindex-modal-backdrop: 1080;
$zindex-modal: 1085;

// Modal close buttons
$close-text-shadow: 0;
$close-text-color: red;
$close-font-weight: 400;
$close-font-size: 1rem;

// Forms
$input-padding-y: 0;
$input-padding-x: 1rem;
$input-height: 30px;
$input-line-height: $line-height-base;
$input-placeholder-color: $textGrey;
$input-font-weight: 500;
$input-border-radius: $border-radius;
$input-border-color: #ededed;
$input-border-width: 2px;
$input-height: initial;
$input-focus-box-shadow: none;
$input-focus-border-color: $brand-primary-1 !important;
$form-group-margin-bottom: 0.25rem;

// Select picker

//$color-red-error: rgb(185, 74, 72) !default;
//$color-green-success: #28a745;
//$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;
//
$width-default: 100%;
//
//$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)
//
//** Placeholder text color
$input-color-placeholder: $body-color;
$input-alt-color-placeholder: $body-color;
//
//$input-padding-y-sm: .25rem !default;
//$input-padding-x-sm: .5rem !default;
//
//$input-padding-y-lg: 0.5rem !default;
//$input-padding-x-lg: 1rem !default;

// Grid resets

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
);

// Navs and tabs

$nav-link-padding-y: 0.25rem;
$nav-link-padding-x: 0;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: $brand-primary-1;

// Misc
$hospital-image-width: 150px;

// Carousel
$enable-gradients: false;
$carousel-control-prev-icon-bg: none;
$carousel-control-next-icon-bg: none;
$carousel-control-icon-width: 40px;
$carousel-control-icon-height: 40px;
$carousel-control-opacity: 1;
$carousel-control-width: auto;
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 1;
$carousel-indicator-active-bg: $brand-primary-1;

// Pagination
$pagination-link-height: 35px;
$paginationColor: #595959;
$paginationDisabledColor: #C0C0C0;



// Box shadows
$box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

// Tick lists
$green-tick-size: 12px;
$pink-tick-size: 15px;

// Cards

$card-spacer-y:                     2rem;
$card-spacer-x:                     1.25rem !default;

// Header
$mobile-header-height: 60px;

// Mobile sort/filter bar buttons
$mobileSortbarButtonHeight: 40px;
