// Transition
$transition: 0.3s all ease;

// Fonts
$headings-font-family: 'SofiaPro-Regular', sans-serif;
$font-family-sans-serif: 'SofiaPro-Regular', sans-serif;
$headings-font-weight: normal; // font is bold, so normal is standard bold
$font-size-base: 14;
//$font-size-base: 0.9rem;

// Line-height
$line-height-base: 1.2;
//$line-height-lg: 1;
//$line-height-sm: 1;

// Letter spacing
$letter-spacing: 0em;

// Borders
$border-radius: 3px;

// Colors
$enable-gradients: true;
$purple: #9561e2;

$violet: #8e00fe;

$blue: #1b71f3;
$hanblue: #5e15d1;
$privateBlue: #18435a;
$nhsBlue: #0d69f2;
$pink: #ed0373;
$white: #ffffff;
$goldStar: #FAC917;

// 2020 new brand colours. Old turquoise = #00cecd
$brand-primary-1: #037098;
$brand-primary-7: #0d69f2;
$brand-secondary-3: #5e15d1;

//Main Template colours
$footerBackgroundColour: #363636;
$caretBlack: #040202;
$bannerMaskGreen: #037098;
$corporateContentGreen: #026867;
$header-link-hover-colour: darken($brand-primary-1, 10%);

$textGrey: #757575;
$textDarkGrey: #1d1d1d;
$bgGrey: #ECECEC;

// Snap design variables
//Full width background grey: #ECECEC
//Grey text: #757575
//Fields outline colour: #EDEDED
//Field Placeholder Text Grey text: #757575
//Full width lines on pages: #EDEDED
//Table border colour: #EDEDED
//Listing card vertical line split (before buttons): #D7D7D7 (this could be updated to #EDEDED)
//Pagination (Previous): #C0C0C0
//Pagination (Next): #595959
$helplinkRed: #de026d;
// End of snap design variables

// CQC RAG rating colours
$cqcGreen: #458f00;
$cqcAmber: #FF9900;
$cqcRed: #BF1000;

// Borders
$borderGrey: #ededed;
$greyBorder: 1px solid $borderGrey;


// Body
$body-bg: #fff;
$body-color: #1b1b1b;

// ************** BS overrides ****************** //
$btn-border-radius: 5px;
$btn-transition: $transition;
$btn-border-width: 0;
//$btn-focus-box-shadow: none;

// Popovers
//$popover-border-width: 0;
$popover-body-padding-y: 15px;
$popover-body-padding-x: 15px;
$popover-arrow-width: 12px;
$popover-arrow-height: 9px;
$popover-arrow-outer-color: transparent;
$popover-arrow-color: #fff;
$popover-max-width: 500px;

// Modal
$modal-inner-padding: 0;
$modal-content-border-radius: $border-radius;
$modal-content-border-width: 0;
$zindex-modal-backdrop: 1080;
$zindex-modal: 1085;

// Modal close buttons
$close-text-shadow: 0;
$close-text-color: red;
$close-font-weight: 400;
$close-font-size: 1rem;

// Forms
$input-padding-y: 0;
$input-padding-x: 1rem;
$input-height: 30px;
$input-line-height: $line-height-base;
$input-placeholder-color: $textGrey;
$input-font-weight: 500;
$input-border-radius: $border-radius;
$input-border-color: #ededed;
$input-border-width: 2px;
$input-height: initial;
$input-focus-box-shadow: none;
$input-focus-border-color: $brand-primary-1 !important;
$form-group-margin-bottom: 0.25rem;

// Select picker

//$color-red-error: rgb(185, 74, 72) !default;
//$color-green-success: #28a745;
//$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;
//
$width-default: 100%;
//
//$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)
//
//** Placeholder text color
$input-color-placeholder: $body-color;
$input-alt-color-placeholder: $body-color;
//
//$input-padding-y-sm: .25rem !default;
//$input-padding-x-sm: .5rem !default;
//
//$input-padding-y-lg: 0.5rem !default;
//$input-padding-x-lg: 1rem !default;

// Grid resets

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
);

// Navs and tabs

$nav-link-padding-y: 0.25rem;
$nav-link-padding-x: 0;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: $brand-primary-1;

// Misc
$hospital-image-width: 150px;

// Carousel
$enable-gradients: false;
$carousel-control-prev-icon-bg: none;
$carousel-control-next-icon-bg: none;
$carousel-control-icon-width: 40px;
$carousel-control-icon-height: 40px;
$carousel-control-opacity: 1;
$carousel-control-width: auto;

// Pagination
$pagination-link-height: 35px;
$paginationColor: #595959;
$paginationDisabledColor: #C0C0C0;



// Box shadows
$box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

// Tick lists
$green-tick-size: 12px;
$pink-tick-size: 15px;

// Cards

$card-spacer-y:                     2rem;
$card-spacer-x:                     1.25rem !default;

// Header
$mobile-header-height: 60px;
