ul {
    padding-left: 0;
}

.blockDisplay{
  display: block;
}

//.fullLeft {
//  width: 100%;
//  float: left;
//}

input[type=submit] {
  padding: 0;
  border: none;
  background: none;
}

select.big, input.big {
  height: 61px;
}

.bg-teal{
    background-color: $teal;
}
.bg-blue{
    background-color: $blue;
}
.bg-violet{
    background-color: $violet;
}
.bg-hanblue{
    background-color: $hanblue;
}
.bg-green{
    background-color: $green;
}
.bg-pink{
    background-color: $pink;
}
.bg-black{
    background-color: $black;
}
.bg-grey{
    background-color: $grey;
}
.bg-white{
    background-color: $white;
}
.bg-greylight{
    background-color: $greylight;
}

.col-teal{
    color: $teal;
}
.col-blue{
    color: $blue;
}
.col-violet{
    color: $violet;
}
.col-hanblue{
    color: $hanblue;
}
.col-green{
    color: $green;
}
.col-pink{
    color: $pink;
}
.col-black{
    color: $black;
}
.col-grey{
    color: $grey;
}
.col-white{
    color: $white;
}
.col-greylight{
    color: $greylight;
}
