//BANNER SECTION
.home-bg-mask {
    background-image: url(/images/banner-flipped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include mask($bannerMaskGreen, 0.06);
}

.banner {
    @include media-breakpoint-up(lg){
        background-image: url(/images/banner-flipped.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @include mask($bannerMaskGreen, 0.06);
    }

    position: relative;

    > * {
        position: relative;
        z-index: 5;
    }

    .container:not(.container-1028){
        .row {
            @media (min-width: 768px){
                @include reset-row-spacing(60px);
            }
        }
    }
}

.flat-banner {
    @extend .home-bg-mask;

    .banner-form-wrapper {

    }
}

//BANNER CONTENTS

.banner-form-wrapper {
    border-radius: 5px;
    background-color: #fff;
    @include media-breakpoint-up(lg){
        padding: 40px 30px;
        box-shadow: $box-shadow;
    }
    text-align: center;
    position: relative;
    z-index: 5;

    .postcode-parent {
        .input-wrapper {
            &:before {
                content: '';
                background-image: url('/images/icons/icon-location.svg');
                @include icon-bg-center(100%, 15px, 25px);
                @include v-c;
                left: 20px;
            }

            input {
                padding-left: 50px;
            }
        }
    }

    &

    .form-child {
        position: relative;
        @extend .mt-2;
    }

    p {
        @include font-size(25);
        margin: 0 auto 25px;
    }

    .postcode-item {
        @include font-size(14);
        margin: 0;
        text-align: left;
        padding: 9px;

        &:hover {
            background-color: $fontGrey;
            color: $white;
            cursor: pointer;
            width: 100%;
        }
    }

    .help-link {
        @include v-c;
        right: 50px;
    }
}


.banner-text {
    //color: $white;
    @include media-breakpoint-up(lg) {
        //padding-top: 70px;
    }
    position: relative;
    z-index: 5;

    p {
        line-height: 1.6;
    }

    p,
    li {
        @include font-size(1.2rem);
    }

    .banner-list {
        li {
            list-style: none;
            position: relative;
            padding-left: 50px;
            margin-bottom: 20px;
            line-height: 24px;

            &:before {
                width: 26px;
                height: 26px;
            }
        }
    }
}

.browse-button {
    text-align: center;

    a {
        @include font-size(14);
        font-weight: 400;
        color: $darkerGrey;
    }
}

.aqua-chevron {
    //color: $aqua;
    @include v-c;
    right: 20px;
    //top: 25px;
}

.postcode-results-container {
    display: none;
    width: calc(100% - 18px);
    position: absolute;
    left: 9px;
    z-index: 10;
    margin: 0 auto;
    overflow: hidden;
    transition: 1s linear;
    transition-delay: 0s;
    //border: 1px solid #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .ajax-box {
        width: 100%;
        background-color: #fff;
        max-height: 222px;
        overflow: auto;
        @extend .SofiaPro-Medium;
    }
}

// Radius input - controlling the direction of reveal
.radius-parent {
    &.row-layout {
        max-width: 0;
        visibility: hidden;
        transition: max-width 0.8s ease;
        @extend .mr-0;

        &.revealed-right {
            min-width: 200px;
            max-width: 500px;
            visibility: visible;
            @extend .mr-2;
        }
    }

    &.column-layout {
        max-height: 0;
        visibility: hidden;
        transition: max-height 0.8s ease;
        margin-bottom: 0;

        &.revealed-down {
            max-height: 500px;
            visibility: visible;
            margin-bottom: 20px;
        }
    }
}

// Search form in horizontal arrangement
.search-form-row {
    .form-child {
        margin-bottom: 0;
    }
    .select_half-width {
        label {
            @include font-size(14, true);
            padding-right: 0 !important;
            width: 100%;
            position: absolute;
            top: -20px;
            left: 0;
        }
    }
}



.mobile-choice {
    @extend .home-bg-mask;
}

.flat-form {
    @include media-breakpoint-up(lg){
        min-width: 1028px;

        .dropdown-toggle,
        #input_postcode {
            min-width: 230px;
            max-width: 230px;
        }
    }

    .dropdown-toggle,
    #input_postcode,
    #submit_search {
        max-height: 57px;
    }

    .form-child {
        margin-top: 30px;
        @media (min-width: 992px){
            margin-right: 0.5rem;
        }
    }

    #submit_search {
        width: 100%;
    }
}
