//BANNER SECTION
.banner-parent {
    width: 100%;
    height: auto;
}

.banner {
    background-image: url(/images/banner-flipped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 45px 0;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        opacity: 0.9;
    }

    > * {
        position: relative;
        z-index: 5;
    }
}

//BANNER CONTENTS

.banner-form-wrapper {
    border-radius: 5px;
    background-color: #fff;
    //background-color: rgba(255, 255, 255, 0.75);
    padding: 20px 30px;
    text-align: center;
    position: relative;
    z-index: 5;
    @extend .shadow;

    .postcode-parent {
        .input-wrapper {
            &:before {
                content: '';
                background-image: url('/images/icons/icon-location.svg');
                @include icon-bg-center(100%, 15px, 25px);
                @include v-c;
                left: 20px;
            }

            input {
                padding-left: 60px;
            }
        }
    }

    &.flat-box {
        padding: 30px 40px 30px;

        .dropdown-toggle,
        #input_postcode {
            max-width: 290px;
        }

        .form-child {
            margin-top: 30px;
        }
    }

    .form-child {
        position: relative;
        margin-top: 20px;
    }

    p {
        @include font-size(25);
        margin: auto;
        font-weight: 500;
    }

    .postcode-item {
        @include font-size(14);
        margin: 0;
        text-align: left;
        padding: 9px;

        &:hover {
            background-color: $newGrey;
            color: $white;
            cursor: pointer;
            width: 100%;
        }
    }

    .help-link {
        @include v-c;
        right: 50px;
    }
}

.banner-text {
    //color: $white;
    @include media-breakpoint-up(lg) {
        //padding-top: 70px;
    }
    position: relative;
    z-index: 5;

    p {
        font-size: 24px;
        //line-height: 32px;
    }

    .banner-list {
        li {
            list-style: none;
            font-size: 24px;
            //line-height: 28px;
            position: relative;
            padding-left: 63px;
            margin-bottom: 20px;

            //&:before {
            //    content: url("/images/tick.svg");
            //    width: 30px;
            //    height: 28px;
            //    @include v-c;
            //    left: 0;
            //}
        }
    }
}

.browse-button {
    text-align: center;

    a {
        @include font-size(14);
        font-weight: 400;
        color: $darkerGrey;
        letter-spacing: -0.7px;
    }
}

.aqua-chevron {
    //color: $aqua;
    @include v-c;
    right: 20px;
    //top: 25px;
}

.postcode-results-container {
    display: none;
    width: calc(100% - 18px);
    position: absolute;
    left: 9px;
    z-index: 10;
    margin: 0 auto;
    overflow: hidden;
    transition: 1s linear;
    transition-delay: 0s;
    //border: 1px solid #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .ajax-box {
        width: 100%;
        background-color: #fff;
        max-height: 222px;
        overflow: auto;
        @extend .SofiaPro-Medium;
    }
}

// Radius input - controlling the direction of reveal
.radius-parent {
    &.row-layout {
        max-width: 0;
        visibility: hidden;
        transition: max-width 0.8s ease;

        &.revealed-right {
            max-width: 500px;
            visibility: visible;
        }
    }

    &.column-layout {
        max-height: 0;
        visibility: hidden;
        transition: max-height 0.8s ease;
        margin-bottom: 0;

        &.revealed-down {
            max-height: 500px;
            visibility: visible;
            margin-bottom: 20px;
        }
    }
}

// Search form in horizontal arrangement
.search-form-row {
    .form-child {
        margin-bottom: 0;
    }
    .select_half-width {
        label {
            @include font-size(14, true);
            padding-right: 0 !important;
            width: 100%;
            position: absolute;
            top: -20px;
            left: 0;
        }
    }
}
