.compare-hospitals-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #00de9d 0%, #00cecb 100%);
    z-index: 1060;

    .compare-hospitals-header {
        position: relative;
        width: 100%;
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 20px;

        ul {
            list-style: none;
            padding-left: 190px;
            li {
                a {
                    display: inline-block;
                    color: $white;
                    padding: 0 12px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: -0.9px;

                    &.btn-special-tab {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
        .compare-button-title {
            p {
                margin: 0;
                color: $white;
            }
        }

        .compare-arrow {
            display: inline-block;
            width: 12px;
            height: 7px;
            background-color: $teal;
            background-image: url('../images/up-arrow.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(180deg);
            transition: $transition;

            &.rotated {
                transform: rotate(0);
            }
        }
    }

    .compare-hospitals-content {

        &.hidden {
            transform: translateY(-100%);
        }

        .container {
            position: relative;
            width: 100%;
            max-width: 1220px;
            margin: 0 auto;
            padding: 0 20px;

            .main-col {
                width: 340px;
                padding: 40px 40px 0 0;
            }

            .item-col {
                //width: 340px;
                padding: 40px 40px 0 0;
            }
        }
    }
}
