input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.2;
}


// Select
.select-parent {
    position: relative;

    select {
        width: 100%;
        background-color: $white;
    }

    //label {
    //    color: $darkerGrey;
    //    font-weight: 500;
    //}
}

.flex-select {
    display: flex;
}

input:not([type="range"]):not([type="submit"]):not([type="checkbox"]),
select:not([class^="ui-datepicker"]) {
    border: 2px solid $darkestWhite; /*Removes border*/
    border-radius: 10px;
    appearance: none;
    color: $darkerGrey;
    background-color: $white;
    //text-indent: 0.01px; /* Removes default arrow from firefox*/
    //text-overflow: "";  /*Removes default arrow from firefox*/
}

select::-ms-expand {
    display: none;
}

.select-wrapper {
    padding-left: 0;
    overflow: hidden;
}

// Homepage banner form
.banner-form-wrapper {
    select,
    input {
        //padding-left: 16px;
    }

    input:not([type="submit"]) {
        width: 100%;
        @include placeholder {
            color: $darkerGrey;
            opacity: 1; // To fix a bug in firefox
            font-family: 'SofiaPro-Medium', sans-serif;
        }
    }
}

// Half width selects on homepage

.select_half-width {
    justify-content: space-between;
    align-items: center;

    label,
    select {
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }

    label {
        text-align: left;
        color: $darkerGrey;
        @extend .font-semibold;
        line-height: 19px;
    }

    select {
        height: 45px;
        padding: 0 100px 0 16px;
        @include font-size(18);
        @extend .SofiaPro-Medium;
    }

    &:after {
        content: '';
        background-image: url('../images/icons/chevron-down.svg');
        @include icon-bg-center(50%);
        @include v-c;
        position: absolute;
        //top: 0;
        //bottom: 0;
        right: 0;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 0 10px 10px 0;
        border: 2px solid $darkestWhite;
        background-color: $darkestWhite;
        pointer-events: none;
    }

    + .help-link {
        transform: none;
        top: initial !important;
        bottom: 8px;
    }
}


// Submit private enquiry form

#enquiry_form {
    input:not([type="submit"]),
    select {
        height: 35px;
        //line-height: 44px;
        border-radius: 10px;
        border: 0;
        background-color: #ffffff;

    }

    select.form-control {
        padding-right: 40px;
    }

    .row {
        margin-left: -6px;
        margin-right: -6px;

        .col {
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 12px;
        }
    }

    // bootstrap select button
    .dropdown-toggle {
        padding: 6px 40px 6px 13px;
        @include font-size(16);

    }
}

.dropdown-toggle {
    cursor: auto !important;
}

.checkbox {
    input[type="checkbox"] {
        position: absolute;
        left: -200vw;

        &:checked {
            + label:last-child {

                &:before {
                    content: '';
                    background-image: url('../images/icons/check-solid-white.svg');
                    @include icon-bg-center(70%);
                }
            }
        }
    }

    > label:last-child {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $white;
        margin-bottom: 0;

        &.small-print {
            @include font-size(14);
            line-height: 1.2;
        }

        &:before {
            content: "";
            background-color: transparent;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 2px solid $darkestWhite;
            flex: 0 0 20px;
            margin-right: 11px;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
        }
    }
}

#col_additional_information {
    //height: 0;
    //max-height: 0;
    //overflow: hidden;
    transition: $transition;
    //margin-bottom: 0 !important;

    &.open {
        //height: auto;
        //max-height: 500px;
        //margin-bottom: inherit !important;
    }
}

textarea {
    width: 100%;
    border-radius: 10px;
    //border: 2px solid $darkestWhite;
    background-color: #ffffff;
    padding: 1rem;
    padding-top: 7px;

    @include placeholder {
        color: $darkerGrey;
    }
}

// jquery validate error messages
.form-error-message {
    font-size: 14px;
    @extend .alert-danger;
    padding: 5px;
    border-radius: 5px;
    line-height: 1;
}

// jquery validate feedback - stop alignment issue
.invalid-feedback {
    margin-top: 0;
}

// Stop the body scrolling when bootstrap selects are open
.select-open {
    overflow: hidden;

    .dropdown-menu.show {
        z-index: 1050;
    }
}

// FAQ page search box
.faq-search-input {

}
