// Bootstrap modal
.modal {
    overflow: scroll;

    .modal-dialog {
        //margin-left: auto !important;
        //margin-right: auto !important;
    }

    .modal-content {
        border-radius: $btn-border-radius;
    }

    &.modal-enquire {
        .modal-copy {
            @include font-size(16);
        }
        //
        //.modal-content {
        //    overflow: hidden;
        //}

        .modal-dialog {
            //width: 100%;
            max-width: 820px;
        }

        .col-inner {
            &__left {
                padding: 30px;
            }

            &__right {
                padding: 60px 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                //border-radius: 0 0 16px 0;
            }
        }
    }

    // Private hospital enquiry
    &.modal-enquire-form {
        .row {
            @include reset-row-spacing(0.125rem);
        }

        .private-modal-enquiry-description {
            @include font-size(14);
        }

        .your-details {
            /* Style for "Your Details" */
            @include font-size(18);
            font-weight: 500;
            line-height: 23px;
        }

        .modal-inner {
            //padding: 16px 55px 25px 55px;
            @extend .p-3;
        }

        .modal-dialog {
            //width: 100%;
            max-width: 820px;
        }

        // Force it to show on test page
        .test-page & {
            display: block !important;
            position: initial;
            z-index: 1070;
        }

        .form-wrap {
            > * {
                width: 100%;
            }

            @include media-breakpoint-up(lg) {
                .img-wrap {
                    width: 28%;
                    padding-right: 25px;
                }

                form {
                    width: 72%;
                }
            }
        }
    }

    // GMaps
    &.modal-maps {
        border-radius: $border-radius;
        padding-right: 0 !important;

        .modal-dialog {
            max-width: 1060px;
        }

        .modal-content {
            padding: 25px;
        }

        #map {
            min-height: 400px;
        }
    }

    // Mobile tooltips
    &.modal-mobile-tooltip {
        top: $mobile-header-height;
        height: calc(100vh - #{$mobile-header-height});

        .modal-dialog {
            height: calc(100vh - 1rem - #{$mobile-header-height});

        }
    }

    &#hc_modal_enquire_nhs {
        .btn-enquire {
            padding: 0 15px 0 40px;
            line-height: 40px;
            max-width: inherit;
        }
    }

    // Take the tour modal

    &.modal-tour {
        .modal-dialog {
            margin-top: 100px;
            max-width: 890px;
        }

        .modal-content {
            border-radius: $btn-border-radius;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.38);
        }

        #slide_number {
            background-color: #fff;
            text-align: center;
            @extend .SofiaPro-SemiBold;
            @include flex-center;
        }

        .carousel-inner {
            .image-wrapper {
                @include aspect-ratio(1172, 894);
                background-size: cover;
                //left: 0;
                //bottom: 0;
                //width: 99px;
                //height: 105px;
                //z-index: 5;
                //
                //img {
                //    width: 100%;
                //}
            }
        }

        .carousel-controls {
            left: 0;
            bottom: 1rem;

            .row {
                @include reset-row-spacing(8px);
            }

            .carousel-indicators {
                position: static;

                li {
                    background: transparent;
                    box-shadow: inset 0px 0px 0px 2px $brand-primary-1;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: none;
                    opacity: 1;
                    flex: 0 0 15px;

                    &.active {
                        background: $brand-primary-1;
                        box-shadow: none;
                    }
                }
            }
        }

        .carousel-item-copy {
            //padding-bottom: 100px;
            @include font-size(12);
        }
    }
}

// Popop search form
#hc_modal_mobile_search {
    //@extend .d-block;
    //opacity: 1 !important;

    .modal-dialog {
        margin: 1rem;

        height: calc(100vh - 2rem);
    }

    .modal-body {
        @extend .p-3;
    }

    .modal-footer {
        @extend .p-2;
    }
}

.test-page {
    #hc_modal_mobile_special_offer_200 {
        position: static !important;
        display: block !important;
        opacity: 1;
        overflow: visible;
    }
}

#hc_modal_mobile_special_offer_tab {
    bottom: 50px;
    top: auto;

    .modal-dialog {
        max-width: initial;
    }
}
