.pagination-wrap, .mobile-pagination-wrap {
    margin-top: 30px;
    margin-bottom: 160px;
}

.mobile-pagination-wrap {
    background-color: $white;
    box-shadow: inset 0 0 0 2px $brand-primary-1;
    border: none;
    //border: 2px solid $brand-primary-1;
    text-align: center;
    color: $brand-primary-1;
    @include font-size(16);
    border-radius: $border-radius;
    @include transition(0.3s);
    @extend .SofiaPro-SemiBold;

    .mobile-current-page {
        @include font-size(20);
    }

    .pagination-arrow {
        height: 30px;
        width: 15px;

        path {
            fill: $paginationColor;
        }
    }

    .disabled {
        path {
            fill: $paginationDisabledColor;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .pagination-next,
    .pagination-previous {
        a {
            transition: 0.2s color ease;
        }

        &:hover {
            a {
                text-decoration: none;
            }
        }

        &.disabled {
            opacity: 0.3;
        }
    }

    .page-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $pagination-link-height;
        height: $pagination-link-height;
        //line-height: 33px;
        line-height: $pagination-link-height;
        margin: 0 3px;

        &.disabled {
            .page-link {
                width: 16px;
                border: none;
                box-shadow: none;
                background: transparent;
                transform: translateY(10px);
            }
        }

        .page-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            //box-shadow: inset 0 0 0 2px $brand-primary-1;
            border: 2px solid $brand-primary-1;
            text-align: center;
            color: $brand-primary-1;
            @include font-size(16);
            border-radius: $border-radius;
            @include transition(0.3s);
            @extend .SofiaPro-SemiBold;
        }

        &.active {
            .page-link {
                background-color: $brand-primary-1;
                color: $white;
                cursor: default;
                box-shadow: none;
            }
        }

        &:not(.disabled):hover .page-link {
            background-color: $brand-primary-1;
            color: $white;
        }

    }

    .sep {
        float: left;
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 32px;
        color: $brand-primary-1;
        font-size: 28px;
    }
}
