.compare-hospitals-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1040;
    //max-height: calc(100vh - 140px);

    .compare-hospitals-header {
        position: relative;
        overflow-x: scroll;

        // Solutions menu
        ul {
            list-style: none;
            @include reset-row-spacing(7.5px);

            li {
                position: relative;

                > a {
                    display: inline-block;
                    color: $white;
                    padding: 0 12px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 18px;
                    font-weight: 400;

                    &:hover {
                        background-color: darken($brand-primary-1, 5%);
                        text-decoration: none;
                    }
                }
            }
        }

        .compare-button-title {
            //background-color: #535353;
            cursor: pointer;

            svg { // #compare_heart
                width: 30px;
                height: 30px;
                overflow: visible;
                margin-right: 10px;
                transition: $transition;
                transform-origin: 50% 50%;

                #wishlist {
                    stroke: #fff;
                    stroke-width: 1px;
                }

                &.has-count {
                    transform-origin: 50% 50%;

                    #outer-circle {
                        transform-origin: 50% 50%;
                        animation: heartBeat .5s ease-in-out 0.1s;
                        animation-fill-mode: forwards;
                        animation-iteration-count: 2;
                    }

                    // The inner heart
                    #wishlist {
                        transform-origin: 50% 50%;
                        animation: heartBeat .5s ease-in-out;
                        animation-fill-mode: forwards;
                        animation-iteration-count: 2;
                    }
                }

                &.active {
                    #wishlist { // The inner heart path
                        fill: $pink;
                        stroke: $pink;
                    }
                }
            }

            p {
                margin: 0;
                color: $white;
                @include font-size(20);
                line-height: 1;
            }
        }

        #compare_number {
            display: inline-block;
            min-width: 10px;
            text-align: center;
        }

        .compare-arrow {
            display: inline-block;
            width: 18px;
            height: 10px;
            //background-color: $footerBackgroundColour;
            background-image: url('../images/up-arrow.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: $transition;
        }
    }

    .compare-hospitals-content {
        padding-bottom: 30px;
        background-color: #fff;
        display: none;
        height: calc(100vh - 190px);
        overflow-y: scroll;

        .row {
            @include reset-row-spacing(0);
        }

        .col-header {
            height: 170px;
            border-bottom: $greyBorder;
            border-right: $greyBorder;
        }

        #compare_hospitals_grid {
            .col-empty {
                @extend .border-right-0;
            }

            .col {
                min-width: 170px;
                &:last-child {
                    @extend .border-right-0;

                    .col-header {
                        @extend .border-right-0;
                    }
                }
            }

            .image-wrapper {
                position: relative;
                text-align: center;
                width: 100%;
                max-width: 120px;

                .remove-hospital {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    background-color: $body-color;
                    background-image: url('../images/icons/plus-solid.svg');
                    @include icon-bg-center(50%);
                    border-radius: 50%;
                    z-index: 10;
                    opacity: 1;
                    transform: translate(50%, -50%) rotate(-45deg);
                }
            }

            .details {
                height: 36px;
                //overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }

            .col-empty:last-child {
                border-right: none;
            }
        }

        &.hidden {
            transform: translateY(-100%);
        }

        .container {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }

        .col {
            margin-top: 20px;
        }

        .col-inner {
            display: flex;
            flex-direction: column;
            //justify-content: flex-end;

            .cell {
                height: 40px;
                line-height: 40px;
                overflow: visible;
                border-bottom: $greyBorder;
                border-right: $greyBorder;

                &.column-break {
                    @extend .border-right-0;
                    height: 50px;
                    line-height: 50px;
                }

                .help-link {
                    @include v-c;
                    right: -15px;
                }
            }

            .mobile-cell {
                height: 20px;
                line-height: 20px;
                @include font-size(12px);

                &.column-break {
                    height: 30px;
                }
            }
        }
    }

    // Special offers tabs
    .solutions-menu {
        pointer-events: none;
        transition: $transition;

        > li {
            pointer-events: initial;
        }
    }

    .special-offer-tab {
        overflow: hidden;
        width: 250px;
        @include media-breakpoint-up(xl){
            width: 365px;
        }
        background-size: 200%;
        background-position: left;
        min-height: 0;
        transition: min-height ease 0.4s, background-position ease 0.3s;

        &.private-hospital__offer,
        &.pink__offer {
            background-color: $brand-primary-6;
        }

        .special-offer-header {
            position: relative;
            padding: 13px;
            //height: 65px;

            .offer-text {
                .offer-title {
                    @include font-size(17);
                    line-height: 23px;

                    @include media-breakpoint-up(xl) {
                        @include font-size(19);
                        line-height: 24px;
                    }
                }
            }

        }

        // Spin arrow when open
        &.open {
            .special-offer-footer {
                svg {
                    transform: rotate3d(0, 0, 1, 180deg);
                }
            }

            .open-text {
                display: inline;
            }

            .closed-text {
                display: none;
            }
        }
    }

    .special-offer-body {
        padding: 0 13px 13px;
        display: none;

        .inner-body {
            //height: 145px;

            .hospital-title {
                @include font-size(14);
                line-height: 18px;

                @include media-breakpoint-up(xl) {
                    @include font-size(16);
                    line-height: 19px;
                }
            }
        }
    }

    .special-offer-footer {
        background-color: $brand-secondary-3;
        cursor: pointer;
        height: 30px;
        padding: 0 13px;

        svg {
            transition: $transition;
            width: 15px;
            height: 9px;
        }

        .open-text {
            display: none;
        }
    }
}

.compare-hospitals-bar_mobile {
    .hc-accordion {
        .card-header {
            button {
                &:after {
                    right: 0;
                }
            }
        }
    }

    #hc_modal_mobile_special_offer_tab_trigger {
        transition: $transition;

        svg {
            transition: $transition;
        }

        .mobile-special-offer-open & {
            background-color: #fff;
            color: $pink;

            svg {
                transform: rotate3d(0, 0, 1, 180deg);

                path {
                    fill: $pink;
                }
            }
        }
    }
}
