

.compare-hospitals-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1040;


    .compare-hospitals-content {
        padding-bottom: 30px;
        background-color: #fff;
        display: none;
        height: calc(100vh - 190px);
        overflow-y: scroll;

        .row {
            @include reset-row-spacing(0);
        }

        .col-header {
            height: 170px;
            border-bottom: $greyBorder;
            border-right: $greyBorder;
        }

        #compare_hospitals_grid {
            .col-empty {
                @extend .border-right-0;
            }

            .col {
                min-width: 170px;

                &:last-child {
                    @extend .border-right-0;

                    .col-header {
                        @extend .border-right-0;
                    }
                }
            }

            .image-wrapper {
                position: relative;
                text-align: center;
                width: 100%;
                max-width: 120px;

                .remove-hospital {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    background-color: $body-color;
                    background-image: url('../images/icons/plus-solid.svg');
                    @include icon-bg-center(50%);
                    border-radius: 50%;
                    z-index: 10;
                    opacity: 1;
                    transform: translate(50%, -50%) rotate(-45deg);
                }
            }

            .details {
                height: 36px;
                //overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }

            .col-empty:last-child {
                border-right: none;
            }
        }

        &.hidden {
            transform: translateY(-100%);
        }

        .container {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }

        .col {
            margin-top: 20px;
        }

        .col-inner {
            display: flex;
            flex-direction: column;
            //justify-content: flex-end;

            .cell {
                height: 40px;
                line-height: 40px;
                overflow: visible;
                border-bottom: $greyBorder;
                border-right: $greyBorder;

                &.column-break {
                    @extend .border-right-0;
                    height: 50px;
                    line-height: 50px;
                }

                .help-link {
                    @include v-c;
                    right: -15px;
                }
            }

            .mobile-cell {
                height: 20px;
                line-height: 20px;
                @include font-size(12px);

                &.column-break {
                    height: 30px;
                }
            }
        }
    }


}

.compare-hospitals-bar_mobile {
    .hc-accordion {
        .card-header {
            button {
                &:after {
                    right: 0;
                }
            }
        }
    }

    #hc_modal_mobile_special_offer_tab_trigger {
        transition: $transition;

        svg {
            transition: $transition;
        }

        .mobile-special-offer-open & {
            background-color: #fff;
            color: $pink;

            svg {
                transform: rotate3d(0, 0, 1, 180deg);

                path {
                    fill: $pink;
                }
            }
        }
    }
}

// Logos in insurance comparison tables
.logo-insurance {
    width: 80px;
}

.modal {
    .table td {
        vertical-align: middle;
    }
}
