//BANNER SECTION
.bannerParent{
  width: 100%;
  height: auto;

}

.banner{
  width:$fullWidth;
  height: 521px;
  background-image:
          linear-gradient(to bottom, rgba(0, 206, 205, 0.52), rgba(139, 219, 219, 0.73)),
          url('../images/banner.jpg');
  margin:$centerOnPage;
  background-repeat:no-repeat;
  background-size:cover;
}

.bannerData{
  @include flex;
  width: $fullWidth / 1.2;
  margin: auto;
  padding-top: 42px;
  color: $white; //inherited value

}

//BANNER CONTENTS
.homePostCodeParent{

  @include uniformAlignment;
}

.homePostCodeBox{
  width: 511px;
  height: 431px;
  border-radius: 20px;
  background-color: #ffffff;
  opacity: 0.75;
}

.homePostCodeBox{

  p{
    color: $black;
    font-size: 1.3em;
    width: 50%;
    text-align:center;
    margin: auto;
    padding-top: 20px;
  }
}

.homePromo{
  @include uniformAlignment;
  padding-top:100px;

  p{
    font-size: 1.2em;
    width: 70%;
  }
}

.promoList{
  li{
    list-style:none;
    font-size: 1.4em;
    line-height: 40px;
  }
}

.browseButton{
  text-align:center;
  font-size: 1.2em;
  a{
    color: $darkerGrey;
  }

}

.secondChevron{
  color: $aqua;
  position:relative;
  top:0px;
  left: -30px;
}

select, input{
  width: 445px;
  height: 61px;

}

input, button, select, optgroup, textarea {

  margin: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-left: 7% !important;
  margin-bottom: 20px !important;

}
select{
  border: 2px solid #ebebeb;  /*Removes border*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow:'';
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/
}
select::-ms-expand {
  display: none;
}
.select-wrapper
{
  padding-left:0px;
  overflow:hidden;
}

input{
  border: 2px solid #ebebeb;
  padding-left:5px;
}