//HEALTH CHOICE SECTION
.chooseHealthParent{
  width: $fullWidth / 1.2;
  margin: 100px auto;
}

.chooseHealth{
  height: 401px;
  background: url('../images/placeholder.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y: -20px;
  border-radius: 20px;
}

.chooseHealthText{
  width:$fullWidth / 1.8;
  margin: 80px auto;
  color:$white;
  position: relative;
  top: 150px;
  font-size: 1.5em;
  font-weight: 500;
}

.chooseHealthText p{
  margin-top: 50px;
  text-align:center;
}