//HOW SECTION
.howSectionParent{
  width: $fullWidth / 1.2;
  margin: 100px auto;
}
.howSection{
  @include flex;
  @include justify-content($value: space-between);
}
.iconTitle, .iconDescription{
  width:200px;
}