.headerLogoParent{
  position:$relative;
  top: -25px;

  .headerLogoImg{
    width: $fullWidth / 15;
    position:absolute;
    top:0px;
    left:0;
  }
  .headerLogoTitle{

    position:absolute;
    top:10px;
    left:65px;
    color:$white;
    font-size: 24px;
  }
}


.footerLogoParent{
  position:$relative;
  top: -25px;
  left: 10px;
  .footerLogoImg{
    width: $fullWidth / 12;
    position:$absolute;
    top:15px;
    left:0;
  }
  .footerLogoTitle{

    position:absolute;
    top:13px;
    left:55px;

  }
}