.headerLogoParent{
  position:$relative;
  top: -25px;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-top: 20px;
  align-items: center;
  margin-top: 30px;
  .headerLogoImg{
    width: $fullWidth / 15;
    position:absolute;
    top:0px;
    left:0;
  }
  .headerLogoTitle{

    position:absolute;
    top: 35%;
    left: 7.5%;
    color:$white;
    font-size: 32px;
  }
}


.footerLogoParent{
  position:$relative;
  top: -25px;
  left: 10px;
  .footerLogoImg{
    width: $fullWidth / 12;
    position:$absolute;
    top:15px;
    left:0;
  }
  .footerLogoTitle{

    position:absolute;
    top:13px;
    left:55px;

  }
}