//WHY CHOOSE SECTION
.whyChooseParent{
  width: 100%;
  height: auto;
  background: $sectionBeige;
}
.whyChooseContent{
  width: $fullWidth / 1.2;
  margin:  auto;
  padding-top: 80px;
}
.whyChoose{
  @include flex;

  p{
    width: 589px;
    height: 239px;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 34px;
  }
}

.chooseText, .chooseVideo{
  @include uniformAlignment;
}
.pageTitle{
  font-size: 34px;
  font-weight:600;
}
.icon{
  margin-bottom:20px;

}

.playerButton{
  background-image:url(../images//player_button.png);
  position: relative;
  top: -240px;
  z-index: 999999999;
  height: 100px;
  background-repeat: no-repeat;
  left: 200px
}