// ========================BLOGS SECTION================================
.blog-page {

    .filters {

        .text {
            margin: auto 0;
        }

        //.categories {
        //    .category {
        //        text-align: right;
        //    }
        //}
    }
}

.blog-list {
    .section-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
    }

    .blog-content {
        @include reset-row-spacing(10px);

        .blog-item-details {
            svg {
                width: 12px;
                height: 12px;
            }
        }

        .blog-wrap {
            text-decoration: none !important;
            margin-bottom: 40px;
            @extend .rounded;
            overflow: hidden;

            a {
                text-decoration: none !important;
            }

            .image-wrapper {
                position: relative;
                overflow: hidden;

                @include aspect-ratio(924, 460);

                img {
                    width: 100%;
                    transition: 2s all ease-out;
                }

                .blog-item-category {
                    width: 30px;
                    height: 30px;
                    top: 30px;
                    right: 30px;
                }
            }

            .blog-item-content {
                padding: 20px;
                .title {
                    @include font-size(20);
                    line-height: 24px;
                }

                .time-to-read,
                .date {
                }

                .description {
                    color: $darkerGrey;
                    @include font-size(24);
                }

                &:hover {
                    //top: -289.25px;
                    //box-shadow: 0 0 0 #3686a3;
                    text-decoration: none !important;


                    .btn-read-more {
                        background-position: right;
                    }
                }
            }

            &:hover {
                img {
                    transform: scale3d(1.1, 1.1, 1.1) translate3d(-50%, -50%, 0) !important;
                }
            }
        }
    }
}

.blog-item-page {
    main {
        padding-top: 25px;
    }

    .jumbotron {
        height: 350px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;

        svg {
            @include v-c;
            left: 10px;
            width: 10px;
            height: 10px;
        }

        .btn-blog-back {
            position: absolute;
            top: 20px;
            //left: 0px;
            width: 200px;
            height: 45px;
            line-height: 45px;
            border-radius: 0 10px 10px 0;
            @include font-size(20);
            padding: 0 15px 0 40px;

            svg {
                @include v-c;
                left: 20px;
            }
        }
    }

    .blog-content {
        p {
            @include font-size(20);
            @extend .SofiaPro-SemiBold;
        }
    }

    .sharing-icons {
        li {
            margin-right: 12px;
            width: 20px;

            svg {
                height: 25px;
                width: 25px;

                path {
                    fill: $grey;
                    transition: $transition;
                }
            }

            &:hover {
                svg path {
                    fill: $turq;
                }
            }
        }
    }
}


// ========================END BLOGS SECTION=============================

