// Back to top styles
.back-top-wrapper {
    bottom: 100%;
    width: 100%;
}

// FOOTER SECTION
footer {
    padding: 75px 0;
    background-color: $body-color;

    * {
        color: $white;
    }

    a {
        transition: $transition;
        &:hover {
            text-decoration: none;
            color: $brand-1;
        }
    }
}

.footer-upper {
    &__menu {
        list-style-type: none;

        li {
            //margin-bottom: 15px;
            display: inline-block;

            a {
                @include font-size(1.2rem);
                @extend .SofiaPro-Medium;
                padding-right: 20px;
            }
        }
    }

    &__secondary-menu li > a {
        padding: 0 20px 0 0;
        font-size: 1rem;
        display: inline-block;
    }

    .helping-you {
        @include font-size(1rem);
        @include media-breakpoint-up(lg) {
            @include font-size(1.2rem);
        }
    }

    .social {
        text-align: right;

        ul {
            margin-top: 30px;

            li {
                list-style: none;

                &:not(:first-child) {
                    margin-left: 20px;
                }

                display: inline-flex;

                &.facebook-social {
                    svg {
                        width: 17px;
                    }
                }

                &.twitter-social {
                    svg {
                        width: 30px;
                    }
                }

                &.instagram-social {
                    svg {
                        width: 30px;
                    }
                }

                a {
                    display: inline-flex;
                    color: $white;
                    font-size: 2.5em;
                    left: 20px;

                    &:hover {
                        color: $brand-1;

                        svg {
                            path {
                                stroke: $brand-1;
                                fill: $brand-1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-lower {
    background-color: $body-color;
    overflow: hidden;


    .svg-wrapper {
        margin: 0 -20px;

        svg {
            stroke-dasharray: 10000;
            stroke-dashoffset: 10000;
        }

        &.draw {
            svg {
                path {
                    animation: drawheart 8s ease-in;
                    //animation-delay: 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

