.header-wrapper {
    background: $brand-primary-1;
    text-align: center;
    @include media-breakpoint-down(md) {
        padding: 10px 0;
    }
}

//HEADER SECTION
.header-logo-parent {
    //display: flex;
    //align-items: center;

    a {
        //display: flex;
        .logo-mobile {
            height: 40px;
            width: 100%;
        }

        .logo-desktop {
            width: auto;
            height: 35px;

            path {
                fill: #fff;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.header-logo-image {
    @include media-breakpoint-down(md) {
        max-width: 245px;
    }
}

#search_toggle {
    width: 20px;
    height: 20px;
}

.main-nav {
    @include media-breakpoint-down(md) {
        position: fixed;
        top: $mobile-header-height;
        left: 0;
        width: calc(100% - 2rem);
        height: calc(100vh - #{$mobile-header-height});
        background-color: #fff;
        z-index: 2000;
        transform: translate3d(-100%, 0, 0);
        transition: $transition;
        box-shadow: $box-shadow;

        .main-menu {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;

            li {
                display: inline-block;
                border-bottom: 2px solid $borderGrey;
                position: relative;

                svg {
                    @include v-c;
                    right: 1rem;
                }

                a, > span {
                    color: $body-color;
                    padding: 1rem 0;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
    }

    .main-menu {
        display: flex;
        margin: 0;

        li {
            position: relative;
            display: inline-block;


            > a, > span {
                height: 100%;
                display: flex;
                align-items: center;

                transition: $transition;

                &.active {
                    background-color: $header-link-hover-colour;
                    color: #fff;

                    @include media-breakpoint-down(md) {
                        padding-left: 1rem;
                    }

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #fff;
                    }
                }

                a, > span {
                    background-color: $header-link-hover-colour;
                    text-decoration: none;
                    color: #fff;
                    @include media-breakpoint-down(md) {
                        padding-left: 1rem;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            li {
                &:last-child {
                    margin-right: -15px;
                }

                a, > span {
                    @include font-size(1.3rem);
                    padding: 30px 15px;
                    line-height: 1;
                    color: #fff;

                }
            }
        }
    }
}


.submenu {
    position: absolute;
    background: $brand-primary-1;
    width: 200px;
    //display:none;
    opacity: 0;
    transition: opacity 1s linear;
    top: 55px;
    z-index: 99;
}

.main-menu li:hover > .submenu {
    //display:block;
    opacity: 1;
}

.main-nav .submenu li a {
    padding: 0;
}
