.header-wrapper {
    background: $turq;
    text-align: center;
    @include media-breakpoint-down(md){
        padding: 10px 0;
    }
}

//HEADER SECTION
.branding {
    display: flex;
    justify-content: space-between;
}

.header-logo-parent {
    display: flex;
    align-items: center;

    a {
        display: flex;
        &:hover {
            text-decoration: none;
        }
    }
}


.main-nav {
    @include media-breakpoint-down(md) {
        position: fixed;
        top: 54px;
        left: 0;
        right: 0;
        height: calc(100vh - 54px);
        background-color: #fff;
        z-index: 2000;
        transform: translate3d(-100%, 0, 0);
        transition: $transition;

        .main-menu {
            display: flex;
            flex-direction: column;

            li {
                display: inline-block;
                a {
                    color: $body-color !important;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
    }

    .main-menu {
        margin: 0;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        li {
            position: relative;
            display: inline-block;

            &:last-child {
                margin-right: -15px;
            }

            > a {
                height: 100%;
                display: flex;
                align-items: center;
                color: $white;
                font-size: 1.3em;
                padding: 30px 15px;
                line-height: 1;
                transition: $transition;

                &.active {
                    background-color: darken($turq, 5%);
                }

                &:hover {
                    background-color: darken($turq, 5%);
                    text-decoration: none;
                }
            }
        }
    }
}

// Reveal the menu
.menu-open {
    overflow: hidden;

    .main-nav {
        transform: translate3d(0, 0, 0);

        .main-menu {
            overflow-y: scroll;
            overflow-x: hidden;
            height: calc(100vh - 54px);
        }
    }
}

.submenu {
    position: absolute;
    background: $darkerAqua;
    width: 200px;
    //display:none;
    opacity: 0;
    transition: opacity 1s linear;
    top: 55px;
    z-index: 99;
}

.main-menu li:hover > .submenu {
    //display:block;
    opacity: 1;
}

.main-nav .submenu li a {
    padding: 0;
}


//OVERWRITE BOOTSTRAP
.btn-lg, .btn-group-lg > .btn {

    line-height: 2 !important;

}

//select, input{
//  width: 300px;
//  height: 30px;
//  border-radius: 7px;
//}



