//FOOTER SECTION
.mainFooter{
  height: 73px;
  background: $footerGrey;
}
.footerCreds{
  width: $fullWidth / 1.2;
  margin: auto;

}



.footerCreds, .credLinks{
  @include flex;
  height:inherit;
}

.credLinks{
  @include alignItems;
  @include twoOneRatio;
}

.footerCreds, .credLinks, .credLinks a, .footerCreds a{
  color: $white;
}

.credLinks li{
  list-style:none;
  padding: 8px 20px;
}

.credLinks li:last-child{
  margin-left: auto;
}

.credLinks a{
  font-size: .95em;
}

//SITEMAP SECTION
.sitemapHolder{
  background-color: #1b1b1b;
  height: 670px; //originally 770px
  position:$relative;
  background-image:url('../images/Layer_7_copy_2.svg');
  background-repeat:no-repeat;
  background-position: center 60%;
  padding-top: 100px;
  background-size: 100% 20%;
}

.sitemapBottom{
  padding-top: 300px;
  width: $fullWidth / 1.2;
  margin: auto;
  color: $white; //inherited value
}

.sitemap{
  width: $fullWidth / 1.2;
  margin: auto;
  @include flex;

}

.sitemapMenu {
  li{
    list-style:none;
    a{
      color:$white;
    }
  }

}

.sitemapNav, .social{
  @include uniformAlignment;
}

.social{
  color: $white; //inherited value
  margin-left: 42%;

  li{
    list-style: none;
    a{
      color:$white;
      font-size: 1.5em;
      padding-right: 17px;
    }
  }
}

.socialList{
  margin-top: 40px;
}
.social li:last-child{
  margin-left: 220px;
  padding-top: 20px;
}

.footerLogoParent{
  position:$relative;
  top: -25px;
  left: 10px;
  .footerLogoImg{
    width: $fullWidth / 12;
    position:$absolute;
    top:15px;
    left:0;
  }
  .footerLogoTitle{

    position:absolute;
    top:13px;
    left:55px;

  }
}

//Back to top styles
.backTopHolder{
  height: 30px;
  width:$fullWidth / 1.2;
  margin: auto;
}

.backTopContent{
  width:150px;
  float:right;
}

