//HEADER SECTION

.headerLogoParent{
  position:$relative;
  top: -25px;

  .headerLogoImg{
    width: $fullWidth / 15;
    position:absolute;
    top:0px;
    left:0;
  }
  .headerLogoTitle{

    position:absolute;
    top:10px;
    left:65px;
    color:$white;
    font-size: 24px;
  }
}


.fa-cross{
  position:$absolute;
  top:4px;
  left:0;
  color: $white;
}
.hRow{
  @include flex;
  @include alignItems;
  @include headerHeight;
}

.mainHeader {
  width: $fullWidth / 1.2;
  margin: $centerOnPage;

}

.mainHeaderWrap{
  @include headerHeight;
  background: $aqua;
  width: $fullWidth;
  margin: $centerOnPage;
}

.titleParent {
  h1 {
    font-size: 1.3em;
    color:$white;
  }
  position:relative;
}

.mainNav{
  ul{
    @include flex;
    margin: 0;
    li{
      display:block;
      a{
        color: $white;
        font-size: 1.3em;
        padding: 0 15px;
      }
    }
  }
}

.fa-chevron-down{
  color: $white;
  position:$relative;
  left: 5px;

}





//OVERWRITE BOOTSTRAP
.btn-lg, .btn-group-lg > .btn {

  line-height: 2 !important;

}
select, input{
  background: white !important;
  width: 300px;
  height: 30px;
  border-radius: 7px;
}



