//HEADER SECTION

.titleParent{
  position:$relative;
  top: -25px;

  .logo{
    width: $fullWidth / 15;
    position:absolute;
    top:0px;
    left:0;
  }
  h1{

    position:absolute;
    top:13px;
    left:55px;

  }
}


.fa-cross{
  position:$absolute;
  top:4px;
  left:0;
  color: $white;
}
.hRow{
  @include flex;
  @include alignItemsCenter;
  @include headerHeight;
}

.mainHeader {
  width: $fullWidth / 1.2;
  margin: $centerOnPage;

}

.mainHeaderWrap{
  @include headerHeight;
  background: $aqua;
  width: $fullWidth;
  margin: $centerOnPage;
}

.titleParent {
  h1 {
    font-size: 1.3em;
    color:$white;
  }
  position:relative;
}

.mainNav{
  ul{
    @include flex;
    li{
      display:block;
      a{
        color: $white;
        font-size: 1.3em;
        padding: 0 15px;
      }
    }
  }
}

.fa-chevron-down{
  color: $white;
  position:$relative;
  left: 5px;

}





//OVERWRITE BOOTSTRAP
.btn-lg, .btn-group-lg > .btn {

  line-height: 2 !important;

}
select, input{
  background: white !important;
  width: 300px;
  height: 30px;
  border-radius: 7px;
}



