//HEADER SECTION


.fa-cross{
  position:$absolute;
  top:4px;
  left:0;
  color: $white;
}

.branding{
  @include flex;
}

.mainHeader {
  width: $pageWrap;
  margin: $centerOnPage;
  letter-spacing: -1px;
}

.mainHeaderWrap{
  @include headerHeight;
  background: $aqua;
  //width: $fullWidth;
  margin: $centerOnPage;
  width:100%;
  text-align: center;
}

.titleParent {
  h1 {
    font-size: 1.3em;
    color:$white;
  }
  position:relative;
}

.mainNav{
  @include flex;
  justify-content: center;
  align-items:center;
  margin: 20px;
  padding-top: 2px;
  .mainMenu{
    @include flex;
    margin: 0;
    li{
      display:block;
      position: relative;
      a{
        color: $white;
        font-size: 1.3em;
        padding: 0 15px;
        padding-bottom: 154px;
      }
    }
  }
}

.dropdownMenu{
  position: absolute;
  background: $darkerAqua;
  width: 200px;
  //display:none;
  opacity:0;
  transition: opacity 1s linear;
  top: 55px;
  z-index: 99;
}

.mainMenu li:hover > .dropdownMenu{
 //display:block;
  opacity:1;
}

.mainNav .dropdownMenu li a{
  padding:0;
}

.fa-chevron-down{
  color: $white;
  position:$relative;
  left: 5px;

}





//OVERWRITE BOOTSTRAP
.btn-lg, .btn-group-lg > .btn {

  line-height: 2 !important;

}
select, input{
  background: white !important;
  width: 300px;
  height: 30px;
  border-radius: 7px;
}



