.compare-hospitals-bar_mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $turq;
    z-index: 1040;
    max-height: calc(100vh - 140px);

    .compare-hospitals-header {
        position: relative;
        //width: 100%;
        //margin: 0 auto;
        //padding: 0 20px;
        height: 50px;

        // Solutions menu
        ul {
            list-style: none;

            li {
                position: relative;

                > a {
                    display: inline-block;
                    color: $white;
                    padding: 0 12px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 18px;
                    font-weight: 400;

                    &:hover {
                        background-color: darken($turq, 5%);
                        text-decoration: none;
                    }
                }
            }
        }

        .compare-button-title {
            //background-color: #535353;
            cursor: pointer;

            svg { // #compare_heart
                width: 30px;
                height: 30px;
                overflow: visible;
                margin-right: 10px;
                transition: $transition;
                transform-origin: 50% 50%;

                #wishlist {
                    stroke: #fff;
                    stroke-width: 1px;
                }

                &.has-count {
                    transform-origin: 50% 50%;

                    #outer-circle {
                        transform-origin: 50% 50%;
                        animation: heartBeat .5s ease-in-out 0.1s;
                        animation-fill-mode: forwards;
                        animation-iteration-count: 2;
                    }

                    // The inner heart
                    #wishlist {
                        transform-origin: 50% 50%;
                        animation: heartBeat .5s ease-in-out;
                        animation-fill-mode: forwards;
                        animation-iteration-count: 2;
                    }
                }

                &.active {
                    #wishlist { // The inner heart path
                        fill: $pink;
                        stroke: $pink;
                    }
                }
            }

            p {
                margin: 0;
                color: $white;
                @include font-size(20);
                line-height: 1;
            }
        }

        #compare_number {
            display: inline-block;
            min-width: 10px;
            text-align: center;
        }

        .compare-arrow {
            display: inline-block;
            width: 18px;
            height: 10px;
            //background-color: $footerBackgroundColour;
            background-image: url('../images/up-arrow.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: $transition;
        }
    }

    .compare-hospitals-content {
        padding-bottom: 30px;
        background-color: #fff;
        //display: none;
        height: calc(100vh - 190px);
        overflow-y: scroll;

        .row {
            @include reset-row-spacing(0);
        }

        .col-header {
            height: 230px;
            border-bottom: $greyBorder;
            border-right: $greyBorder;
        }

        #compare_hospitals_grid {
            .col-empty {
                @extend .border-right-0;
            }

            .col {
                &:last-child {
                    @extend .border-right-0;

                    .col-header {
                        @extend .border-right-0;
                    }
                }
            }

            .image-wrapper {
                position: relative;
                text-align: center;
                //overflow: hidden;
                width: 100%;
                max-width: 120px;
                @include aspect-ratio(120, 120, 150%);

                .remove-hospital {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    background-color: $body-color;
                    background-image: url('../images/icons/plus-solid.svg');
                    @include icon-bg-center(50%);
                    border-radius: 50%;
                    z-index: 10;
                    opacity: 1;
                    transform: translate(50%, -50%) rotate(-45deg);
                }
            }

            .details {
                height: 36px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }

            .col-empty:last-child {
                border-right: none;
            }
        }

        &.hidden {
            transform: translateY(-100%);
        }

        .container {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }

        .col {
            margin-top: 20px;
        }

        .col-inner {
            display: flex;
            flex-direction: column;
            //justify-content: flex-end;

            .cell {
                height: 40px;
                line-height: 40px;
                overflow: visible;
                border-bottom: $greyBorder;
                border-right: $greyBorder;

                &.column-break {
                    @extend .border-right-0;
                    height: 50px;
                    line-height: 50px;
                }

                .help-link {
                    @include v-c;
                    right: -15px;
                }
            }
        }
    }

    // Special offers tabs
    .solutions-menu {
        pointer-events: none;
        transition: $transition;

        > li {
            pointer-events: initial;
        }
    }

    .special-offer-tab {
        color: $white;
        width: 340px;
        background-size: 200%;
        background-position: left;
        min-height: 0;
        transition: min-height ease 0.4s, background-position ease 0.3s;

        &.nhs-hospital__offer,
        &.purple__offer {
            background-image: linear-gradient(264deg, #1b71f3 0%, #8f00ff 0%, #a346ec 52%, #b687db 100%);
            //background: linear-gradient(264deg, #8e00fe,#1b71f3,#8e00fe);
        }

        &.blue__offer {
            background-image: linear-gradient(87deg, #0563aa 0%, #033860 100%);
        }

        &.private-hospital__offer,
        &.pink__offer {
            background-image: linear-gradient(266deg, #ed0373 0%, #fd409d 100%);
            //background-image: linear-gradient(249deg, #8e00fe, #1b71f3);
            //background-image: linear-gradient(249deg, #1b71f3 0%, #ed0373 0%, #cc6d9b 100%);
        }

        //width: 300px;
        border-radius: 10px 10px 0 0;
        @include font-size(18);
        font-weight: 500;

        .special-offer-header {
            position: relative;
            padding: 0 20px;
            height: 65px;
            cursor: pointer;

            .offer-text {
                //margin-left: 10px;
                line-height: 1;
                max-width: 270px;

                .offer-title {
                    @include font-size(18);
                }

                .offer-subtitle {
                    @include font-size(14);
                }
            }

            .open-text {
                .hospital-name {
                    @include font-size(18);
                    min-height: 45px;
                }

                display: none;
            }

            .image-wrapper {
                width: 48px;
                height: 44px;
                @include aspect-ratio(48px, 44px);

                .label {
                    //display: none;
                    width: 10px;
                    height: 10px;
                    border-width: 10px;
                }
            }

            > svg,
            > span {
                position: absolute;
                @include v-c;
                right: 20px;
                //top: 17px;
                width: 20px;
                height: 20px;
                transition: $transition;
            }

        }

        // Spin arrow when open
        &.open {
            background-position: right;

            .special-offer-header {
                padding-top: 16px;
                padding-bottom: 16px;
                height: initial;

                svg {
                    transform: rotate3d(0, 0, 1, 180deg);
                }
            }

            .closed-text {
                display: none;
            }

            .open-text {
                display: block;
            }
        }
    }

    .special-offer-body {
        padding: 0 25px 25px 20px;
        display: none;
        height: 200px;

        .offer-price {
            min-height: 30px;
        }
    }
}



