.corporate-content {
    display: none;
}

.corporate-content-section-1 {
    width: 134px;
}

.corporate-content-section-2 {
    width: calc(86% - 134px);
    //@extend .bg-teal;
    padding-left: 8px;
    padding-top: 18px;

    .tab-pane {
        padding-top: 13px;
    }
}

.corporate-content-section-3 {
    width: 14%;
}
