.results-page {
    .corporate-content {
        //display: none;
    }
}

.corporate-content {
    .corporate-content-inner {
        background-color: #fff;
        padding: 1rem 0;

        @include media-breakpoint-up(lg) {
            padding: 30px;
        }
    }
}

.corporate-content-section-1 {
    width: $hospital-image-width;
    display: none;
}

.corporate-content-section-2 {
    .nav-tabs {
        li { // nav-item
            margin-right: 25px;
            box-sizing: content-box;

            a { // nav-link
                color: $caretBlack;
                @include font-size(18);
                @extend .SofiaPro-Medium;
                @extend .pt-0;
                @extend .pb-2;
                background-color: transparent;

                &.active {
                    border-bottom: 2px solid $brand-primary-1;
                    background-color: transparent;
                }
            }
        }
    }

    .tab-content {
        @include reset-row-spacing(12px);

        .address {
            color: $brand-tertiary-2;

            strong {
                color: $brand-tertiary-1;
            }
        }
    }

    // Carousel styles
    .carousel-inner {
        margin-bottom: 6px;
    }

    .carousel-item {
        @include aspect-ratio(100, 64, auto);
    }

    .indicators {
        @include reset-row-spacing(3px);

        .col-inner {
            @include aspect-ratio(43, 40);
            position: relative;
            overflow: hidden;

            img {
                @include v-h-c;
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        align-items: flex-end;
    }

    // Stats tab
    .rating-name {
        @extend .font-16;
        @extend .SofiaPro-SemiBold;
        @extend .mb-1;
    }

    .rating-value {
        @extend .mb-1;

        img {
            width: 16px;
        }
    }

    .tab-pane,
    .media-pane {
        padding-top: 13px;
    }

    .media-pane {
        .row {
            @include reset-row-spacing(7.5px);
        }

        // Video
        .video-wrapper {
            @include aspect-ratio(187, 140);

            .player-button {
                width: 50%;
                max-width: 45px;
                //@include aspect-ratio(576, 512);
            }
        }

        .video-caption {
            margin-top: 5px;
        }

    }

    .special-offers-tab {
        padding: 14px 33px 17px;
    }


    .btn-more-info {
        bottom: 0;
        left: 8px;
    }
}

.corporate-content-section-3 {
    width: 14%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    transition: $transition;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        .carousel-arrow-bg {
            fill: #fff;
        }
        .carousel-arrow-chevron {
            fill: $brand-primary-1;
        }
    }
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
}

// Class added to result item when CC area open
.result-item-mobile-section-2 {
    transition: $transition;
}

.corporate-content-open {
    .result-item-mobile-section-2 {
        max-height: 0;
        overflow: hidden;
    }
}
