//============================HOW SECTION=============================
.how-section__parent {
    padding: 75px 0;

    .icon-title {
        //@include font-style('SofiaPro-Medium', 22px, false, #000, 26px, -0.9px);
        @include font-size(22);
        @extend .SofiaPro-Medium;
        margin-bottom: 25px;
    }

    .icon-description {
        li,
        p {
            @extend .col-grey;
            line-height: 1.4;
        }
    }
}

.how-section {
    .row {
        @include media-breakpoint-up(md){
            @include reset-row-spacing(8px);
        }
    }
}

.how-section__child {

    text-align: center;
    position: relative;

    .col-inner {
        //box-shadow: $box-shadow;
        padding: 30px;
        height: 380px;
    }

    .icon {
        margin-bottom: 20px;
        height: 60px;
        @include icon-bg-center(100%);
        background-size: contain;
    }

    .icon-title {
        @include font-size(1.2rem);
        margin-bottom: 15px;
    }
}

//============================ END HOW SECTION=============================

//============================ HOW PAGE =============================
.how-section__extra {
    .select-parent {
        label {
            width: 100%;
            max-width: 260px;
        }

        svg {
            position: absolute;
            @include v-c;
            right: 30px;
        }
    }

    //max-width: 230px;

    .dropdown-toggle {
        padding: 8px 40px 8px 13px;
        @include font-size(16);
    }
}

#how_to_use_filter_policies .select-parent {
    background-color: #fff;
    padding: 1rem;
    border: $greyBorder;
    border-radius: $border-radius;
    width: 100% !important;
}
