//============================HOW SECTION=============================
.how-section__parent {
    padding: 45px 0 90px;

    .icon-title,
    .icon-description {
        //width:89%;
        color: $lightestGrey;
    }

    .icon-title {
        //@include font-style('SofiaPro-Medium', 22px, false, #000, 26px, -0.9px);
        @include font-size(22);
        @extend .SofiaPro-Medium;
        margin-bottom: 25px;
    }

    .icon-description {
        li, p {
            //@include font-style(false, 20px, false, false, 24px, -1px);
            @include font-size(20);
        }
    }
}

.how-section {
    .row {
        @include media-breakpoint-up(md){
            @include reset-row-spacing(30px);
        }
    }
}

.how-section__child {
    text-align: center;
    //padding: 0 5.5%;
    position: relative;

    .icon {
        //display: flex;
        //@include justify-content($value: center);
        margin-bottom: 25px;
        height: 120px;
        @include icon-bg-center(100%);
        background-size: contain;

        svg {
            transform-origin: 50% 50%;
            height: 100%;
            width: auto;
            fill: $turq;
        }
    }

    .icon-description {
        > ul {
            //padding: 0 0 0 50px;
            margin: 30px 0 50px 0;
            counter-reset: counter;

            > li {
                margin: 0 0 22px 0;
                position: relative;
                counter-increment: counter;

                &:before {
                    content: counter(counter) '.';
                    position: absolute;
                    top: 0;
                    right: calc(100% + 10px);
                    color: $blue;
                    @extend .font-semibold;
                }

                ul {
                    li {

                    }
                }
            }
        }
    }
}

//============================ END HOW SECTION=============================

//============================ HOW PAGE =============================
.how-section__extra {
    padding: 40px 0;

    .row {
        .col:first-child {
            padding-right: 100px;
        }

        .col:last-child {
            padding-left: 0;
        }
    }

    .flex-row-reverse {
        .col:first-child {
            padding-left: 100px;
        }

        .col:last-child {
            padding-right: 0;
        }
    }

    form {
        padding-right: 90px;
    }

    .bootstrap-select {
        max-width: 220px;
    }

    .select-parent {

        label {
            width: 100%;
            max-width: 260px;
        }

        svg {
            position: absolute;
            @include v-c;
            right: 14px;
        }
    }

    //max-width: 230px;

    .dropdown-toggle {
        padding: 8px 40px 8px 13px;
    }
}
